<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>14 Day Home Rental</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div style="position: relative; width: 100%;">
        <div style="position: absolute; top: -224px; left: -185px; scale: 0.744;">
            <div style="padding: 6px; width: 1559px; margin-inline: auto;">
                <div
                    style="padding: 1.5rem; border: solid; border-width: 1px; border-color: rgb(228, 225, 234); display: flex; justify-content: space-between; align-items: center; background-color: white; border-radius: 0.5rem; margin-top: 1rem; gap: 0.5rem;">
                    <div style="width: 75%;">
                        <p style="color: rgb(24, 24, 24); font-weight: 600; font-size: 1.5rem; line-height: 2rem;">14
                            Day
                            Home Rental</p>
                        <p
                            style="color: rgb(104, 104, 104); font-weight: 500; font-size: 1rem; line-height: 1.5rem; margin-top: 0.5rem;">
                            Under the 14 day Home Rental Rule, Which is part of Section 280A of the internal Revenue
                            Code,
                            US homeowners can rent out their property tax-free for up to 14 days per year.</p>
                    </div>
                    <div
                        style="padding: 0.625rem 1.25rem; border: solid; border-width: 1px; border-color: rgb(174, 143, 247); color: rgb(174, 143, 247); background-color: rgba(174, 143, 247, 0.1); border-radius: 50px; height: max-content;">
                        See Tax code ยง 280A (g)</div>
                </div>
                <div
                    style="border: solid; border-width: 1px; border-color: rgb(228, 225, 234); background-color: white; border-radius: 0.5rem; margin-top: 1rem;">
                    <div
                        style="padding: 1rem 1.5rem; border-bottom-width: 1px; font-size: 1.25rem; line-height: 1.75rem; color: rgb(24, 24, 24); font-weight: 700;">
                        Who Can Use the 14 Day Home Rental?</div>
                    <div style="position: relative; padding: 1.5rem;">
                        <div style="display: grid; grid-template-columns: repeat(5, minmax(0px, 1fr)); gap: 1rem;">
                            <div
                                style="position: relative; padding: 1.5rem; background-color: rgba(174, 143, 247, 0.1); border: solid; border-width: 1px; border-color: rgb(228, 225, 234); border-radius: 0.5rem; gap: 1rem;">
                                <div
                                    style="width: 72px; height: 72px; border: solid; border-width: 1px; border-color: white; padding: 0.25rem; border-radius: 9999px; box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.1) 0px 2px 4px -2px;">
                                    <div
                                        style="background-color: rgb(174, 143, 247); display: flex; justify-content: center; align-items: center; height: 100%; width: 100%; border-radius: 9999px;">
                                        <img src="https://staging-media.taxplanner.pro/planning-icons/key.svg">
                                    </div>
                                </div>
                                <p
                                    style="color: rgb(24, 24, 24); font-weight: 600; font-size: 1.125rem; line-height: 1.75rem; margin-top: 0.5rem;">
                                    You must own the property you intend to rent</p><img
                                    src="https://staging-media.taxplanner.pro/planning-icons/backImage.svg"
                                    alt="BackImage"
                                    style="position: absolute; bottom: 0px; right: -25px; height: 9rem; opacity: 0.6;">
                            </div>
                            <div
                                style="position: relative; padding: 1.5rem; background-color: rgba(174, 143, 247, 0.1); border: solid; border-width: 1px; border-color: rgb(228, 225, 234); border-radius: 0.5rem; gap: 1rem;">
                                <div
                                    style="width: 72px; height: 72px; border: solid; border-width: 1px; border-color: white; padding: 0.25rem; border-radius: 9999px; box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.1) 0px 2px 4px -2px;">
                                    <div
                                        style="background-color: rgb(174, 143, 247); display: flex; justify-content: center; align-items: center; height: 100%; width: 100%; border-radius: 9999px;">
                                        <img src="https://staging-media.taxplanner.pro/planning-icons/mapLocation.svg">
                                    </div>
                                </div>
                                <p
                                    style="color: rgb(24, 24, 24); font-weight: 600; font-size: 1.125rem; line-height: 1.75rem; margin-top: 0.5rem;">
                                    The rental property must be located in the United States</p><img
                                    src="https://staging-media.taxplanner.pro/planning-icons/backImage.svg"
                                    alt="BackImage"
                                    style="position: absolute; bottom: 0px; right: -25px; height: 9rem; opacity: 0.6;">
                            </div>
                            <div
                                style="position: relative; padding: 1.5rem; background-color: rgba(174, 143, 247, 0.1); border: solid; border-width: 1px; border-color: rgb(228, 225, 234); border-radius: 0.5rem; gap: 1rem;">
                                <div
                                    style="width: 72px; height: 72px; border: solid; border-width: 1px; border-color: white; padding: 0.25rem; border-radius: 9999px; box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.1) 0px 2px 4px -2px;">
                                    <div
                                        style="background-color: rgb(174, 143, 247); display: flex; justify-content: center; align-items: center; height: 100%; width: 100%; border-radius: 9999px;">
                                        <img src="https://staging-media.taxplanner.pro/planning-icons/house.svg">
                                    </div>
                                </div>
                                <p
                                    style="color: rgb(24, 24, 24); font-weight: 600; font-size: 1.125rem; line-height: 1.75rem; margin-top: 0.5rem;">
                                    It must be your primary, vacation, or any other personal residence</p><img
                                    src="https://staging-media.taxplanner.pro/planning-icons/backImage.svg"
                                    alt="BackImage"
                                    style="position: absolute; bottom: 0px; right: -25px; height: 9rem; opacity: 0.6;">
                            </div>
                            <div
                                style="position: relative; padding: 1.5rem; background-color: rgba(174, 143, 247, 0.1); border: solid; border-width: 1px; border-color: rgb(228, 225, 234); border-radius: 0.5rem; gap: 1rem;">
                                <div
                                    style="width: 72px; height: 72px; border: solid; border-width: 1px; border-color: white; padding: 0.25rem; border-radius: 9999px; box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.1) 0px 2px 4px -2px;">
                                    <div
                                        style="background-color: rgb(174, 143, 247); display: flex; justify-content: center; align-items: center; height: 100%; width: 100%; border-radius: 9999px;">
                                        <img src="https://staging-media.taxplanner.pro/planning-icons/calender.svg">
                                    </div>
                                </div>
                                <p
                                    style="color: rgb(24, 24, 24); font-weight: 600; font-size: 1.125rem; line-height: 1.75rem; margin-top: 0.5rem;">
                                    The total number of days you rent your property must not exceed 14 per calendar year
                                </p>
                                <img src="https://staging-media.taxplanner.pro/planning-icons/backImage.svg"
                                    alt="BackImage"
                                    style="position: absolute; bottom: 0px; right: -25px; height: 9rem; opacity: 0.6;">
                            </div>
                            <div
                                style="position: relative; padding: 1.5rem; background-color: rgba(174, 143, 247, 0.1); border: solid; border-width: 1px; border-color: rgb(228, 225, 234); border-radius: 0.5rem; gap: 1rem;">
                                <div
                                    style="width: 72px; height: 72px; border: solid; border-width: 1px; border-color: white; padding: 0.25rem; border-radius: 9999px; box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.1) 0px 2px 4px -2px;">
                                    <div
                                        style="background-color: rgb(174, 143, 247); display: flex; justify-content: center; align-items: center; height: 100%; width: 100%; border-radius: 9999px;">
                                        <img src="https://staging-media.taxplanner.pro/planning-icons/handShake.svg">
                                    </div>
                                </div>
                                <p
                                    style="color: rgb(24, 24, 24); font-weight: 600; font-size: 1.125rem; line-height: 1.75rem; margin-top: 0.5rem;">
                                    You must charge a fair market rental price at the time of rental</p><img
                                    src="https://staging-media.taxplanner.pro/planning-icons/backImage.svg"
                                    alt="BackImage"
                                    style="position: absolute; bottom: 0px; right: -25px; height: 9rem; opacity: 0.6;">
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    style="padding: 1.5rem; border: solid; border-width: 1px; border-color: rgb(228, 225, 234); background-color: white; border-radius: 0.5rem; margin-top: 1rem;">
                    <p style="color: rgb(24, 24, 24); font-weight: 600; font-size: 1.5rem; line-height: 2rem;">This
                        strategy
                        is also called "The Augusta Rule"</p>
                    <p style="color: rgb(104, 104, 104); font-weight: 500; font-size: 1rem; line-height: 1.5rem;">The
                        Augusta Rule appeared thanks to community advocacy. In the 1970s, residents of Augusta, Georgia,
                        lobbied for legislation allowing tax-free rental of their homes to Masters Golf Tournament
                        guests.
                        What started as a local tax relief, is now allowed nationwide.</p>
                </div>
                <div
                    style="border: solid; border-width: 1px; border-color: rgb(228, 225, 234); background-color: white; border-radius: 0.5rem; margin-top: 1rem;">
                    <div
                        style="padding: 1rem 1.5rem; border-bottom-width: 1px; font-size: 1.25rem; line-height: 1.75rem; color: rgb(24, 24, 24); font-weight: 700; width: 100%;">
                        How it Works</div>

                    <div
                        style="padding: 3rem; display: flex; justify-content: flex-start; align-items: flex-start; flex-wrap: nowrap; overflow-x: hidden;">
                        <div
                            style="display: flex; justify-content: center; align-items: center; width: 445px; height: 445px; min-width: 445px; min-height: 445px; border: 5px solid rgb(235, 235, 235); border-radius: 9999px; z-index: 10; background-color: white;">
                            <div
                                style="display: flex; justify-content: center; align-items: center; width: 380px; height: 380px; border: 5px solid rgb(228, 225, 234); border-radius: 9999px;">
                                <div><img src="/client/src/assets/svg/houseFrame.svg" alt="HouseFrameImage"
                                        style="width: 340px;">
                                    <p
                                        style="font-size: 1.25rem; line-height: 1.75rem; font-weight: 600; color: rgb(24, 24, 24); text-align: center; margin-top: 24px;">
                                        You must own your home <br>to employ this strategy.</p>
                                </div>
                            </div>
                        </div>
                        <div
                            style="padding-left: 9rem; flex: 1 1 0%; position: relative; display: flex; justify-content: flex-start; align-items: flex-start; gap: 18px;">
                            <div
                                style="z-index: 10; display: flex; justify-content: center; align-items: center; flex-direction: column; row-gap: 1rem;">
                                <div
                                    style="background-color: white; border: 3px solid rgb(174, 143, 247); height: 5rem; width: 5rem; border-radius: 9999px; display: flex; justify-content: center; align-items: center;">
                                    <img src="/client/src/assets/svg/telephone.svg" alt="TelephoneImage">
                                </div>
                                <div
                                    style="border-radius: 9999px; padding: 3px; height: 160px; width: 160px; display: flex; justify-content: center; align-items: center; background: linear-gradient(rgb(174, 143, 247), rgb(255, 255, 255));">
                                    <div
                                        style="background-color: white; border-radius: 9999px; height: 100%; width: 100%; display: flex; justify-content: center; align-items: center; text-align: center; color: rgb(24, 24, 24); font-size: 1.25rem; line-height: 1.75rem; font-weight: 700;">
                                        Provide <br> Comparables</div>
                                </div>
                                <div
                                    style="border: 1px solid rgb(228, 225, 234); background-color: rgba(174, 143, 247, 0.1); width: 15rem; border-radius: 0.5rem; padding: 0.75rem;">
                                    <ul>
                                        <li style="display: flex; align-items: flex-start; margin-top: 0px;">
                                            <div
                                                style="flex-shrink: 0; height: 0.75rem; width: 0.75rem; border: 2px solid rgb(174, 143, 247); border-radius: 9999px; background-color: white; margin-top: 0.25rem;">
                                            </div>
                                            <p
                                                style="margin-left: 0.75rem; font-size: 15px; color: rgb(24, 24, 24); font-weight: 500;">
                                                Get rates from local establishments that rent spaces for similar
                                                activities and size requirements for comparison</p>
                                        </li>
                                        <li style="display: flex; align-items: flex-start; margin-top: 12px;">
                                            <div
                                                style="flex-shrink: 0; height: 0.75rem; width: 0.75rem; border: 2px solid rgb(174, 143, 247); border-radius: 9999px; background-color: white; margin-top: 0.25rem;">
                                            </div>
                                            <p
                                                style="margin-left: 0.75rem; font-size: 15px; color: rgb(24, 24, 24); font-weight: 500;">
                                                Maintain copies of quotes received</p>
                                        </li>
                                        <li style="display: flex; align-items: flex-start; margin-top: 12px;">
                                            <div
                                                style="flex-shrink: 0; height: 0.75rem; width: 0.75rem; border: 2px solid rgb(174, 143, 247); border-radius: 9999px; background-color: white; margin-top: 0.25rem;">
                                            </div>
                                            <p
                                                style="margin-left: 0.75rem; font-size: 15px; color: rgb(24, 24, 24); font-weight: 500;">
                                                Use quotes to determine a reasonable per day rental fee</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div
                                style="margin-top: 78px; z-index: 10; display: flex; justify-content: center; align-items: center; flex-direction: column; row-gap: 1rem;">
                                <div
                                    style="border-radius: 9999px; padding: 3px; height: 160px; width: 160px; display: flex; justify-content: center; align-items: center; background: linear-gradient(to top, rgb(174, 143, 247), rgb(255, 255, 255));">
                                    <div
                                        style="background-color: white; border-radius: 9999px; height: 100%; width: 100%; display: flex; justify-content: center; align-items: center; text-align: center; color: rgb(24, 24, 24); font-size: 1.25rem; line-height: 1.75rem; font-weight: 700;">
                                        Implement &amp; <br> Document</div>
                                </div>
                                <div
                                    style="background-color: white; border: 3px solid rgb(174, 143, 247); height: 5rem; width: 5rem; border-radius: 9999px; display: flex; justify-content: center; align-items: center;">
                                    <img src="/client/src/assets/svg/file.svg" alt="FileImage">
                                </div>
                                <div
                                    style="border: 1px solid rgb(228, 225, 234); background-color: rgba(174, 143, 247, 0.1); width: 15rem; border-radius: 0.5rem; padding: 0.75rem;">
                                    <ul>
                                        <li style="display: flex; align-items: flex-start; margin-top: 0px;">
                                            <div
                                                style="flex-shrink: 0; height: 0.75rem; width: 0.75rem; border: 2px solid rgb(174, 143, 247); border-radius: 9999px; background-color: white; margin-top: 0.25rem;">
                                            </div>
                                            <p
                                                style="margin-left: 0.75rem; font-size: 15px; color: rgb(24, 24, 24); font-weight: 500;">
                                                Rent Your Home For No More Than 14 Days Per Year</p>
                                        </li>
                                        <li style="display: flex; align-items: flex-start; margin-top: 12px;">
                                            <div
                                                style="flex-shrink: 0; height: 0.75rem; width: 0.75rem; border: 2px solid rgb(174, 143, 247); border-radius: 9999px; background-color: white; margin-top: 0.25rem;">
                                            </div>
                                            <p
                                                style="margin-left: 0.75rem; font-size: 15px; color: rgb(24, 24, 24); font-weight: 500;">
                                                Maintain Rental Agreements For All Rental Activity</p>
                                        </li>
                                        <li style="display: flex; align-items: flex-start; margin-top: 12px;">
                                            <div
                                                style="flex-shrink: 0; height: 0.75rem; width: 0.75rem; border: 2px solid rgb(174, 143, 247); border-radius: 9999px; background-color: white; margin-top: 0.25rem;">
                                            </div>
                                            <p
                                                style="margin-left: 0.75rem; font-size: 15px; color: rgb(24, 24, 24); font-weight: 500;">
                                                Keep All Documentation For Rent Paid And Other Charges Like Equipment
                                                And Food</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div
                                style="z-index: 10; display: flex; justify-content: center; align-items: center; flex-direction: column; row-gap: 1rem;">
                                <div
                                    style="background-color: white; border: 3px solid rgb(174, 143, 247); height: 5rem; width: 5rem; border-radius: 9999px; display: flex; justify-content: center; align-items: center;">
                                    <img src="/client/src/assets/svg/dollarFile.svg" alt="DollarFileImage">
                                </div>
                                <div
                                    style="border-radius: 9999px; padding: 3px; height: 160px; width: 160px; display: flex; justify-content: center; align-items: center; background: linear-gradient(rgb(174, 143, 247), rgb(255, 255, 255));">
                                    <div
                                        style="background-color: white; border-radius: 9999px; height: 100%; width: 100%; display: flex; justify-content: center; align-items: center; text-align: center; color: rgb(24, 24, 24); font-size: 1.25rem; line-height: 1.75rem; font-weight: 700;">
                                        Enjoy Tax <br> Free Income</div>
                                </div>
                                <div
                                    style="border: 1px solid rgb(228, 225, 234); background-color: rgba(174, 143, 247, 0.1); width: 15rem; border-radius: 0.5rem; padding: 0.75rem;">
                                    <ul>
                                        <li style="display: flex; align-items: flex-start; margin-top: 0px;">
                                            <div
                                                style="flex-shrink: 0; height: 0.75rem; width: 0.75rem; border: 2px solid rgb(174, 143, 247); border-radius: 9999px; background-color: white; margin-top: 0.25rem;">
                                            </div>
                                            <p
                                                style="margin-left: 0.75rem; font-size: 15px; color: rgb(24, 24, 24); font-weight: 500;">
                                                Rental income received is not taxable when implemented correctly</p>
                                        </li>
                                        <li style="display: flex; align-items: flex-start; margin-top: 12px;">
                                            <div
                                                style="flex-shrink: 0; height: 0.75rem; width: 0.75rem; border: 2px solid rgb(174, 143, 247); border-radius: 9999px; background-color: white; margin-top: 0.25rem;">
                                            </div>
                                            <p
                                                style="margin-left: 0.75rem; font-size: 15px; color: rgb(24, 24, 24); font-weight: 500;">
                                                As the homeowner you can keep the income and save by not paying taxes on
                                                it</p>
                                        </li>
                                    </ul>
                                </div>
                            </div><img src="/client/src/assets/svg/path.svg" alt="path img"
                                style="position: absolute; top: 24px; left: -125px; width: 1058px; min-width: 1058px;">
                        </div>
                    </div>
                </div>
                <br><br>
                <div
                    style="border: solid; border-width: 1px; border-color: rgb(228, 225, 234); background-color: rgb(255, 255, 255); border-radius: 0.5rem; margin-top: 1rem;">
                    <div
                        style="padding: 1rem 1.5rem; border-bottom-width: 1px; font-size: 1.25rem; line-height: 1.75rem; color: rgb(24, 24, 24); font-weight: 700;">
                        Any Homeowner Can Employ This Strategy</div>
                    <div style="position: relative; padding: 1.5rem;">
                        <div style="display: grid; grid-template-columns: repeat(4, minmax(0px, 1fr)); gap: 1rem;">
                            <div
                                style="position: relative; padding: 1rem; background-color: white; border: solid; border-width: 1px; border-color: rgb(228, 225, 234); border-radius: 0.5rem; gap: 1rem;">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/homeOwner1.svg">
                                <p
                                    style="font-weight: 500; font-size: 1rem; line-height: 1.5rem; color: rgb(24, 24, 24); margin-top: 1rem;">
                                    <span style="color: #ae8ff7">Jim</span> owns a home near a local beach and wants to
                                    rent it out for a week while he's out of town
                                </p>
                            </div>
                            <div
                                style="position: relative; padding: 1rem; background-color: white; border: solid; border-width: 1px; border-color: rgb(228, 225, 234); border-radius: 0.5rem; gap: 1rem;">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/homeOwner2.svg">
                                <p
                                    style="font-weight: 500; font-size: 1rem; line-height: 1.5rem; color: rgb(24, 24, 24); margin-top: 1rem;">
                                    <span style="color: #ae8ff7">Jim</span> calls to gather quotes from local
                                    hospitality
                                    businesses in his area who offer similar accommodations
                                </p>
                            </div>
                            <div
                                style="position: relative; padding: 1rem; background-color: white; border: solid; border-width: 1px; border-color: rgb(228, 225, 234); border-radius: 0.5rem; gap: 1rem;">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/homeOwner3.svg">
                                <p
                                    style="font-weight: 500; font-size: 1rem; line-height: 1.5rem; color: rgb(24, 24, 24); margin-top: 1rem;">
                                    <span style="color: #ae8ff7">Tom</span> rents the home for his family for the week
                                    at
                                    <span style="color: #ae8ff7">Jim's</span> researched per day rental rate
                                </p>
                            </div>
                            <div
                                style="position: relative; padding: 1rem; background-color: white; border: solid; border-width: 1px; border-color: rgb(228, 225, 234); border-radius: 0.5rem; gap: 1rem;">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/homeOwner4.svg">
                                <p
                                    style="font-weight: 500; font-size: 1rem; line-height: 1.5rem; color: rgb(24, 24, 24); margin-top: 1rem;">
                                    <span style="color: #ae8ff7">Jim</span> gets to enjoy tax free income from the
                                    rental!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="display: flex; margin-top: 1rem; width: 100%; gap: 1rem;">
                    <div
                        style="border: solid; border-width: 1px; border-color: rgb(228, 225, 234); background-color: rgb(255, 255, 255); border-radius: 0.5rem; width: 33.3333%;">
                        <div
                            style="padding: 1rem 1.5rem; border-bottom-width: 1px; font-size: 1.25rem; line-height: 1.75rem; color: rgb(24, 24, 24); font-weight: 700;">
                            Tax Planner Pro Rankings: 14 Days Home Rental</div>
                        <div style="padding: 1.5rem;">
                            <div style="width: 100%; margin-bottom: 1.5rem;">
                                <div
                                    style="margin-bottom: 0.5rem; font-size: 1rem; line-height: 1.5rem; font-weight: 600; color: rgb(24, 24, 24);">
                                    Strategy Overall Benefit</div>
                                <div
                                    style="position: relative; width: 100%; height: 0.75rem; background-color: rgb(229, 231, 235); border-radius: 9999px; overflow: hidden;">
                                    <div
                                        style="background: linear-gradient(to right, rgb(174, 143, 247), rgb(216, 200, 255)); width: 40%; height: 100%; border-radius: 9999px;">
                                    </div>
                                </div>
                                <div
                                    style="display: flex; justify-content: space-between; margin-top: 0.25rem; font-size: 0.875rem; line-height: 1.25rem; color: rgb(75, 85, 99);">
                                    <p
                                        style="font-weight: 500; font-size: 0.875rem; line-height: 1.25rem; color: rgb(24, 24, 24);">
                                        Small Benefit</p>
                                    <p
                                        style="font-weight: 500; font-size: 0.875rem; line-height: 1.25rem; color: rgb(24, 24, 24);">
                                        Large Benefit</p>
                                </div>
                            </div>
                            <div style="width: 100%; margin-bottom: 1.5rem;">
                                <div
                                    style="margin-bottom: 0.5rem; font-size: 1rem; line-height: 1.5rem; font-weight: 600; color: rgb(24, 24, 24);">
                                    Difficulty Rating</div>
                                <div
                                    style="position: relative; width: 100%; height: 0.75rem; background-color: rgb(229, 231, 235); border-radius: 9999px; overflow: hidden;">
                                    <div
                                        style="background: linear-gradient(to right, rgb(174, 143, 247), rgb(216, 200, 255)); width: 75%; height: 100%; border-radius: 9999px;">
                                    </div>
                                </div>
                                <div
                                    style="display: flex; justify-content: space-between; margin-top: 0.25rem; font-size: 0.875rem; line-height: 1.25rem; color: rgb(75, 85, 99);">
                                    <p
                                        style="font-weight: 500; font-size: 0.875rem; line-height: 1.25rem; color: rgb(24, 24, 24);">
                                        Easy Setup</p>
                                    <p
                                        style="font-weight: 500; font-size: 0.875rem; line-height: 1.25rem; color: rgb(24, 24, 24);">
                                        Difficult Setup</p>
                                </div>
                            </div>
                            <div style="width: 100%; margin-bottom: 1.5rem;">
                                <div
                                    style="margin-bottom: 0.5rem; font-size: 1rem; line-height: 1.5rem; font-weight: 600; color: rgb(24, 24, 24);">
                                    Audit Risk</div>
                                <div
                                    style="position: relative; width: 100%; height: 0.75rem; background-color: rgb(229, 231, 235); border-radius: 9999px; overflow: hidden;">
                                    <div
                                        style="background: linear-gradient(to right, rgb(174, 143, 247), rgb(216, 200, 255)); width: 75%; height: 100%; border-radius: 9999px;">
                                    </div>
                                </div>
                                <div
                                    style="display: flex; justify-content: space-between; margin-top: 0.25rem; font-size: 0.875rem; line-height: 1.25rem; color: rgb(75, 85, 99);">
                                    <p
                                        style="font-weight: 500; font-size: 0.875rem; line-height: 1.25rem; color: rgb(24, 24, 24);">
                                        Audit Unlikely</p>
                                    <p
                                        style="font-weight: 500; font-size: 0.875rem; line-height: 1.25rem; color: rgb(24, 24, 24);">
                                        Audit Possible</p>
                                </div>
                            </div>
                            <div style="width: 100%; margin-bottom: 1.5rem;">
                                <div
                                    style="margin-bottom: 0.5rem; font-size: 1rem; line-height: 1.5rem; font-weight: 600; color: rgb(24, 24, 24);">
                                    Aggressiveness Rating</div>
                                <div
                                    style="position: relative; width: 100%; height: 0.75rem; background-color: rgb(229, 231, 235); border-radius: 9999px; overflow: hidden;">
                                    <div
                                        style="background: linear-gradient(to right, rgb(174, 143, 247), rgb(216, 200, 255)); width: 75%; height: 100%; border-radius: 9999px;">
                                    </div>
                                </div>
                                <div
                                    style="display: flex; justify-content: space-between; margin-top: 0.25rem; font-size: 0.875rem; line-height: 1.25rem; color: rgb(75, 85, 99);">
                                    <p
                                        style="font-weight: 500; font-size: 0.875rem; line-height: 1.25rem; color: rgb(24, 24, 24);">
                                        Small Benefit</p>
                                    <p
                                        style="font-weight: 500; font-size: 0.875rem; line-height: 1.25rem; color: rgb(24, 24, 24);">
                                        Very High</p>
                                </div>
                            </div>
                            <div>
                                <div
                                    style="margin-bottom: 0.5rem; font-size: 1rem; line-height: 1.5rem; font-weight: 600; color: rgb(24, 24, 24);">
                                    Implementation Deadline</div>
                                <div
                                    style="font-weight: 500; color: rgb(24, 24, 24); font-size: 1rem; line-height: 1.5rem;">
                                    December 31st of the current tax year</div>
                            </div>
                        </div>
                    </div>
                    <div
                        style="position: relative; border: solid; border-width: 1px; border-color: rgb(228, 225, 234); background-color: white; border-radius: 0.5rem; width: 66.6667%;">
                        <div
                            style="padding: 1rem 1.5rem; border-bottom-width: 1px; font-size: 1.25rem; line-height: 1.75rem; color: rgb(24, 24, 24); font-weight: 700;">
                            Entity Availability</div>
                        <div style="position: relative; height: calc(100% - 61px);">
                            <div
                                style="border: solid; border-width: 3px; border-color: rgb(174, 143, 247); border-radius: 9999px; height: 300px; width: 300px; position: absolute; opacity: 0.5; transform: translate(-50%, -50%); left: 50%; top: 50%;">
                            </div>
                            <div
                                style="border: solid; border-width: 3px; border-color: rgb(174, 143, 247); border-radius: 9999px; height: 420px; width: 420px; position: absolute; opacity: 0.1; transform: translate(-50%, -50%); left: 50%; top: 50%;">
                            </div>
                            <div
                                style="left: 5rem; top: 1.25rem; border: 1px solid rgb(228, 225, 234); border-radius: 10px; display: flex; justify-content: center; align-items: center; flex-direction: column; z-index: 10; position: absolute; background-color: white; width: 250px; height: 194px;">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/handOnKey.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/handOnKey.svg"
                                    style="width: 72px; height: 72px;">
                                <p
                                    style="font-weight: 500; color: rgb(24, 24, 24); font-size: 1.125rem; line-height: 1.75rem; margin: 1rem 0px;">
                                    Sole Prop</p><span
                                    style="color: white; border-radius: 0.75rem; padding: 0.5rem 1rem; background-color: rgb(219, 28, 28);">Disallowed</span>
                            </div>
                            <div
                                style="left: 5rem; bottom: 1.25rem; border: 1px solid rgb(228, 225, 234); border-radius: 10px; display: flex; justify-content: center; align-items: center; flex-direction: column; z-index: 10; position: absolute; background-color: white; width: 250px; height: 194px;">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/handShake2.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/handShake2.svg"
                                    style="width: 72px; height: 72px;">
                                <p
                                    style="font-weight: 500; color: rgb(24, 24, 24); font-size: 1.125rem; line-height: 1.75rem; margin: 1rem 0px;">
                                    Partnership</p><span
                                    style="color: white; border-radius: 0.75rem; padding: 0.5rem 1rem; background-color: rgb(0, 180, 44);">Available</span>
                            </div>
                            <div
                                style="top: 50%; left: 50%; transform: translate(-50%, -50%); border: 1px solid rgb(228, 225, 234); border-radius: 10px; display: flex; justify-content: center; align-items: center; flex-direction: column; z-index: 10; position: absolute; background-color: white; width: 250px; height: 194px;">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/user.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/user.svg"
                                    style="width: 72px; height: 72px;">
                                <p
                                    style="font-weight: 500; color: rgb(24, 24, 24); font-size: 1.125rem; line-height: 1.75rem; margin: 1rem 0px;">
                                    Individual</p><span
                                    style="color: white; border-radius: 0.75rem; padding: 0.5rem 1rem; background-color: rgb(0, 180, 44);">Available</span>
                            </div>
                            <div
                                style="right: 5rem; top: 1.25rem; border: 1px solid rgb(228, 225, 234); border-radius: 10px; display: flex; justify-content: center; align-items: center; flex-direction: column; z-index: 10; position: absolute; background-color: white; width: 250px; height: 194px;">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/building.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/building.svg"
                                    style="width: 72px; height: 72px;">
                                <p
                                    style="font-weight: 500; color: rgb(24, 24, 24); font-size: 1.125rem; line-height: 1.75rem; margin: 1rem 0px;">
                                    S-Corp</p><span
                                    style="color: white; border-radius: 0.75rem; padding: 0.5rem 1rem; background-color: rgb(0, 180, 44);">Available</span>
                            </div>
                            <div
                                style="right: 5rem; bottom: 1.25rem; border: 1px solid rgb(228, 225, 234); border-radius: 10px; display: flex; justify-content: center; align-items: center; flex-direction: column; z-index: 10; position: absolute; background-color: white; width: 250px; height: 194px;">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/companyBuilding.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/companyBuilding.svg"
                                    style="width: 72px; height: 72px;">
                                <p
                                    style="font-weight: 500; color: rgb(24, 24, 24); font-size: 1.125rem; line-height: 1.75rem; margin: 1rem 0px;">
                                    C-Corp</p><span
                                    style="color: white; border-radius: 0.75rem; padding: 0.5rem 1rem; background-color: rgb(0, 180, 44);">Available</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    style="padding: 1.5rem; border: solid; border-width: 1px; border-color: rgb(228, 225, 234); background-color: rgb(255, 255, 255); border-radius: 0.5rem; margin-top: 1rem;">
                    <div style="display: flex; align-items: center; gap: 0.5rem;">
                        <p style="color: rgb(24, 24, 24); font-weight: 500; font-size: 1rem; line-height: 1.5rem;">
                            DISCLAIMER</p>
                        <div style="border: solid; border-width: 1px; border-color: rgb(228, 225, 234); width: 100%;">
                        </div>
                    </div>
                    <p
                        style="color: rgb(104, 104, 104); font-weight: 500; font-size: 1rem; line-height: 1.5rem; margin-top: 0.5rem;">
                        Material discussed is meant for informational purposes only, and it is not to be relied on as
                        investment, tax, or legal advice. Although the tax guidance has been gathered from sources
                        believed
                        to be reliable, please note that individual situations can vary. Therefore, the information
                        should
                        be relied upon when coordinated with individual professional advice.</p>
                    <p
                        style="color: rgb(104, 104, 104); font-weight: 500; font-size: 1rem; line-height: 1.5rem; margin-top: 0.5rem;">
                        Additionally, at times we may discuss the law or new and pending legislation. Please know our
                        understanding of it is constantly changing, and you cannot and should not rely upon us for
                        legal,
                        financial, or accounting advice.</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>