<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>14 Day Home Rental</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style type="text/css">
        @font-face {
            font-family:
                'SFUIDisplay';
            src:
                url('fonts/sf-ui-fonts/SF-Compact-Display-Regular.ttf') format('truetype');
            font-weight: 400;
            font-style: normal;
        }

        body {
            margin:
                0;
            letter-spacing: 0.05em;
            line-height: 1.5;
            font-family: 'SFUIDisplay';
        }
    </style>
</head>

<body>
    <div class="relative w-full">
        <div class="absolute top-[-265px] left-[-200px] scale-[0.7]">
            <div style="width: 1586px; max-width: 1586px; margin: 0px auto; padding: 6px; margin-inline: auto;">
                <div
                    style="padding: 1.5rem; border: solid; border-width: 1px; border-color: rgb(228, 225, 234); display: flex; justify-content: space-between; align-items: center; background-color: white; border-radius: 0.5rem; margin-top: 1rem; gap: 0.5rem;">
                    <div style="width: 75%;">
                        <p style="color: rgb(24, 24, 24); font-weight: 600; font-size: 1.5rem; line-height: 2rem;">
                            401 (K) Plan
                        </p>
                        <p
                            style="color: rgb(104, 104, 104); font-weight: 500; font-size: 1rem; line-height: 1.5rem; margin-top: 0.5rem;">
                            A 401(K) plan is an employer sponsored retirement account that allows employees to
                            contribute
                            portions of their wages to a retirement plan and receive tax benefits.
                        </p>
                    </div>
                    <div
                        style="padding: 0.625rem 1.25rem; border: solid; border-width: 1px; border-color: rgb(174, 143, 247); color: rgb(174, 143, 247); background-color: rgba(174, 143, 247, 0.1); border-radius: 50px; height: max-content;">
                        See Tax Code 26 U.S. Code § 401(K) - Qualified pension, profit-sharing, and stock bonus plans
                    </div>
                </div>

                <div class="p-6 border border-borderColor bg-white rounded-lg mt-6">
                    <div class="flex justify-center text-darkText text-xl font-semibold capitalize">Top 6 Benefits of a
                        401(K)
                        Plan</div>
                    <div class="w-full flex justify-center mt-1.5">
                        <div class="border-b-[3px] w-[75px] border-[#7732EF]"></div>
                    </div>
                    <div class="grid grid-cols-2 gap-6 mt-4">
                        <div class="relative"><img
                                src="https://staging-media.taxplanner.pro/planning-icons/commonBenefitsImage.svg"
                                alt="https://staging-media.taxplanner.pro/planning-icons/commonBenefitsImage.svg"
                                class="absolute inset-0 object-cover -left-2 top-[-1px]">
                            <div class="border border-[#AE8FF74D] p-4 shadow-md relative rounded-lg bg-white">
                                <div class="flex justify-between">
                                    <div class="flex items-center h-16"><img
                                            src="https://staging-media.taxplanner.pro/planning-icons/commonBenefitsImage2.svg"
                                            alt="https://staging-media.taxplanner.pro/planning-icons/commonBenefitsImage2.svg"
                                            class="absolute left-[-9px] top-1.5 inset-0 object-cover"><img
                                            src="https://staging-media.taxplanner.pro/planning-icons/benefit1.svg"
                                            alt="https://staging-media.taxplanner.pro/planning-icons/benefit1.svg"
                                            class="absolute inset-0 object-cover top-[26px] left-3">
                                        <p class="text-lg text-darkText font-semibold ml-[74px]">Tax Advantages</p>
                                    </div><img src="https://staging-media.taxplanner.pro/planning-icons/one.svg"
                                        alt="https://staging-media.taxplanner.pro/planning-icons/one.svg">
                                </div>
                                <p class="text-[15px] text-[#5F5F5F] font-light mt-4">Contributions to a 401(k) are
                                    taken
                                    directly out of your paycheck before federal income taxes are withheld. Because the
                                    contributions are pre- tax, it lowers your total taxable income which means you
                                    might
                                    owe
                                    less in income taxes</p>
                            </div>
                        </div>
                        <div class="relative"><img
                                src="https://staging-media.taxplanner.pro/planning-icons/commonBenefitsImage.svg"
                                alt="https://staging-media.taxplanner.pro/planning-icons/commonBenefitsImage.svg"
                                class="absolute inset-0 object-cover -left-2 top-[-1px]">
                            <div class="border border-[#AE8FF74D] p-4 shadow-md relative rounded-lg bg-white">
                                <div class="flex justify-between">
                                    <div class="flex items-center h-16"><img
                                            src="https://staging-media.taxplanner.pro/planning-icons/commonBenefitsImage2.svg"
                                            alt="https://staging-media.taxplanner.pro/planning-icons/commonBenefitsImage2.svg"
                                            class="absolute left-[-9px] top-1.5 inset-0 object-cover"><img
                                            src="https://staging-media.taxplanner.pro/planning-icons/benefit2.svg"
                                            alt="https://staging-media.taxplanner.pro/planning-icons/benefit2.svg"
                                            class="absolute inset-0 object-cover top-[26px] left-3">
                                        <p class="text-lg text-darkText font-semibold ml-[74px]">You Are In Control</p>
                                    </div><img src="https://staging-media.taxplanner.pro/planning-icons/two.svg"
                                        alt="https://staging-media.taxplanner.pro/planning-icons/two.svg">
                                </div>
                                <p class="text-[15px] text-[#5F5F5F] font-light mt-4">You can contribute as much or as
                                    little as
                                    you want to your account (subject to plan and IRS limits). Plus, you have the
                                    flexibility to
                                    change your contribution levels at any time (subject to plan limits) dependent on
                                    your
                                    situation.</p>
                            </div>
                        </div>
                        <div class="relative"><img
                                src="https://staging-media.taxplanner.pro/planning-icons/commonBenefitsImage.svg"
                                alt="https://staging-media.taxplanner.pro/planning-icons/commonBenefitsImage.svg"
                                class="absolute inset-0 object-cover -left-2 top-[-1px]">
                            <div class="border border-[#AE8FF74D] p-4 shadow-md relative rounded-lg bg-white">
                                <div class="flex justify-between">
                                    <div class="flex items-center h-16"><img
                                            src="https://staging-media.taxplanner.pro/planning-icons/commonBenefitsImage2.svg"
                                            alt="https://staging-media.taxplanner.pro/planning-icons/commonBenefitsImage2.svg"
                                            class="absolute left-[-9px] top-1.5 inset-0 object-cover"><img
                                            src="https://staging-media.taxplanner.pro/planning-icons/benefit3.svg"
                                            alt="https://staging-media.taxplanner.pro/planning-icons/benefit3.svg"
                                            class="absolute inset-0 object-cover top-[26px] left-3">
                                        <p class="text-lg text-darkText font-semibold ml-[74px]">Time Is On Your Side
                                        </p>
                                    </div><img src="https://staging-media.taxplanner.pro/planning-icons/three.svg"
                                        alt="https://staging-media.taxplanner.pro/planning-icons/three.svg">
                                </div>
                                <p class="text-[15px] text-[#5F5F5F] font-light mt-4">The earlier you start investing,
                                    the
                                    more
                                    time your money has to grow. Compounding can have a big impact on long-term
                                    investment
                                    and
                                    should be considered a powerful ally when it comes to saving for retirement.</p>
                            </div>
                        </div>
                        <div class="relative"><img
                                src="https://staging-media.taxplanner.pro/planning-icons/commonBenefitsImage.svg"
                                alt="https://staging-media.taxplanner.pro/planning-icons/commonBenefitsImage.svg"
                                class="absolute inset-0 object-cover -left-2 top-[-1px]">
                            <div class="border border-[#AE8FF74D] p-4 shadow-md relative rounded-lg bg-white">
                                <div class="flex justify-between">
                                    <div class="flex items-center h-16"><img
                                            src="https://staging-media.taxplanner.pro/planning-icons/commonBenefitsImage2.svg"
                                            alt="https://staging-media.taxplanner.pro/planning-icons/commonBenefitsImage2.svg"
                                            class="absolute left-[-9px] top-1.5 inset-0 object-cover"><img
                                            src="https://staging-media.taxplanner.pro/planning-icons/benefit4.svg"
                                            alt="https://staging-media.taxplanner.pro/planning-icons/benefit4.svg"
                                            class="absolute inset-0 object-cover top-[26px] left-3">
                                        <p class="text-lg text-darkText font-semibold ml-[74px]">You Can Take It With
                                            you
                                        </p>
                                    </div><img src="https://staging-media.taxplanner.pro/planning-icons/four.svg"
                                        alt="https://staging-media.taxplanner.pro/planning-icons/four.svg">
                                </div>
                                <p class="text-[15px] text-[#5F5F5F] font-light mt-4">Even if you change jobs, the money
                                    you've
                                    contributed to your 401(k) and its earnings belong to you.</p>
                            </div>
                        </div>
                        <div class="relative"><img
                                src="https://staging-media.taxplanner.pro/planning-icons/commonBenefitsImage.svg"
                                alt="https://staging-media.taxplanner.pro/planning-icons/commonBenefitsImage.svg"
                                class="absolute inset-0 object-cover -left-2 top-[-1px]">
                            <div class="border border-[#AE8FF74D] p-4 shadow-md relative rounded-lg bg-white">
                                <div class="flex justify-between">
                                    <div class="flex items-center h-16"><img
                                            src="https://staging-media.taxplanner.pro/planning-icons/commonBenefitsImage2.svg"
                                            alt="https://staging-media.taxplanner.pro/planning-icons/commonBenefitsImage2.svg"
                                            class="absolute left-[-9px] top-1.5 inset-0 object-cover"><img
                                            src="https://staging-media.taxplanner.pro/planning-icons/benefit5.svg"
                                            alt="https://staging-media.taxplanner.pro/planning-icons/benefit5.svg"
                                            class="absolute inset-0 object-cover top-[26px] left-3">
                                        <p class="text-lg text-darkText font-semibold ml-[74px]">Easy Payroll Deductions
                                        </p>
                                    </div><img src="https://staging-media.taxplanner.pro/planning-icons/five.svg"
                                        alt="https://staging-media.taxplanner.pro/planning-icons/five.svg">
                                </div>
                                <p class="text-[15px] text-[#5F5F5F] font-light mt-4">Early contributions and
                                    contributing
                                    consistently is essential to preparing for retirement, even if it feels lightyears
                                    away.
                                    With a 401(k), you can make automatic contributions directly from your paycheck.</p>
                            </div>
                        </div>
                        <div class="relative"><img
                                src="https://staging-media.taxplanner.pro/planning-icons/commonBenefitsImage.svg"
                                alt="https://staging-media.taxplanner.pro/planning-icons/commonBenefitsImage.svg"
                                class="absolute inset-0 object-cover -left-2 top-[-1px]">
                            <div class="border border-[#AE8FF74D] p-4 shadow-md relative rounded-lg bg-white">
                                <div class="flex justify-between">
                                    <div class="flex items-center h-16"><img
                                            src="https://staging-media.taxplanner.pro/planning-icons/commonBenefitsImage2.svg"
                                            alt="https://staging-media.taxplanner.pro/planning-icons/commonBenefitsImage2.svg"
                                            class="absolute left-[-9px] top-1.5 inset-0 object-cover"><img
                                            src="https://staging-media.taxplanner.pro/planning-icons/benefit6.svg"
                                            alt="https://staging-media.taxplanner.pro/planning-icons/benefit6.svg"
                                            class="absolute inset-0 object-cover top-[26px] left-3">
                                        <p class="text-lg text-darkText font-semibold ml-[74px]">Save More Than Other
                                            Plans
                                        </p>
                                    </div><img src="https://staging-media.taxplanner.pro/planning-icons/six.svg"
                                        alt="https://staging-media.taxplanner.pro/planning-icons/six.svg">
                                </div>
                                <p class="text-[15px] text-[#5F5F5F] font-light mt-4">If you are going to put more than
                                    $10K
                                    a
                                    year into a retirement account, 401(K) is usually the best option. If you are over
                                    50,
                                    you
                                    can make catch up contributions</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="p-6 border border-borderColor bg-white rounded-lg mt-6">
                    <div class="flex justify-center text-darkText text-xl font-semibold capitalize">Types of 401 (K)
                        Plans
                    </div>
                    <div class="w-full flex justify-center mt-1.5">
                        <div class="border-b-[3px] w-[75px] border-[#7732EF]"></div>
                    </div>
                    <div class="grid grid-cols-3 gap-6 mt-4">
                        <div class="p-4 rounded-lg bg-[#F9F7FF] flex flex-col items-center justify-center">
                            <p class="font-semibold text-darkText text-lg">Traditional 401(K)</p>
                            <div class="flex gap-1 space-y-1.5 text-center flex-col">
                                <div class="text-center mt-3">
                                    <div class="inline-block text-[15px] text-[#5F5F5F] font-light">
                                        <div
                                            class="flex-shrink-0 h-2 w-2 border-2 border-[#7732EF] rounded-full bg-white inline-block align-middle">
                                        </div><span class="align-middle ml-2">A cash or deferred arrangement that allows
                                            employees to contribute a portion of their salary before taxes</span>
                                    </div>
                                </div>
                                <div class="text-center mt-3">
                                    <div class="inline-block text-[15px] text-[#5F5F5F] font-light">
                                        <div
                                            class="flex-shrink-0 h-2 w-2 border-2 border-[#7732EF] rounded-full bg-white inline-block align-middle">
                                        </div><span class="align-middle ml-2">You can withdraw money any time after age
                                            59½</span>
                                    </div>
                                </div>
                                <div class="text-center mt-3">
                                    <div class="inline-block text-[15px] text-[#5F5F5F] font-light">
                                        <div
                                            class="flex-shrink-0 h-2 w-2 border-2 border-[#7732EF] rounded-full bg-white inline-block align-middle">
                                        </div><span class="align-middle ml-2">Withdrawals are subject to income
                                            tax</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-4 rounded-lg bg-[#F9F7FF] flex flex-col items-center justify-center">
                            <p class="font-semibold text-darkText text-lg">Solo 401(K)</p>
                            <div class="flex gap-1 space-y-1.5 text-center flex-col">
                                <div class="text-center mt-3">
                                    <div class="inline-block text-[15px] text-[#5F5F5F] font-light">
                                        <div
                                            class="flex-shrink-0 h-2 w-2 border-2 border-[#7732EF] rounded-full bg-white inline-block align-middle">
                                        </div><span class="align-middle ml-2">Also known as an individual 401(k), this
                                            plan
                                            is
                                            for small business owners without employees, or for business owners with a
                                            spouse</span>
                                    </div>
                                </div>
                                <div class="text-center mt-3">
                                    <div class="inline-block text-[15px] text-[#5F5F5F] font-light">
                                        <div
                                            class="flex-shrink-0 h-2 w-2 border-2 border-[#7732EF] rounded-full bg-white inline-block align-middle">
                                        </div><span class="align-middle ml-2">You can withdraw money any time after age
                                            59½</span>
                                    </div>
                                </div>
                                <div class="text-center mt-3">
                                    <div class="inline-block text-[15px] text-[#5F5F5F] font-light">
                                        <div
                                            class="flex-shrink-0 h-2 w-2 border-2 border-[#7732EF] rounded-full bg-white inline-block align-middle">
                                        </div><span class="align-middle ml-2">Withdrawals are subject to income
                                            tax</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-4 rounded-lg bg-[#F9F7FF] flex flex-col items-center justify-center">
                            <p class="font-semibold text-darkText text-lg">Roth 401(K)</p>
                            <div class="flex gap-1 space-y-1.5 text-center flex-col">
                                <div class="text-center mt-3">
                                    <div class="inline-block text-[15px] text-[#5F5F5F] font-light">
                                        <div
                                            class="flex-shrink-0 h-2 w-2 border-2 border-[#7732EF] rounded-full bg-white inline-block align-middle">
                                        </div><span class="align-middle ml-2">Contributions are made with money that has
                                            already
                                            been taxed - similar to Roth IRA</span>
                                    </div>
                                </div>
                                <div class="text-center mt-3">
                                    <div class="inline-block text-[15px] text-[#5F5F5F] font-light">
                                        <div
                                            class="flex-shrink-0 h-2 w-2 border-2 border-[#7732EF] rounded-full bg-white inline-block align-middle">
                                        </div><span class="align-middle ml-2">You can withdraw money any time afterage
                                            59½</span>
                                    </div>
                                </div>
                                <div class="text-center mt-3">
                                    <div class="inline-block text-[15px] text-[#5F5F5F] font-light">
                                        <div
                                            class="flex-shrink-0 h-2 w-2 border-2 border-[#7732EF] rounded-full bg-white inline-block align-middle">
                                        </div><span class="align-middle ml-2">Withdrawals are subject to income
                                            tax</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-4 rounded-lg bg-[#F9F7FF] flex flex-col items-center justify-center">
                            <p class="font-semibold text-darkText text-lg">Safe Harbor 401(K)</p>
                            <div class="flex gap-1 space-y-1.5 text-center flex-col">
                                <div class="text-center mt-3">
                                    <div class="inline-block text-[15px] text-[#5F5F5F] font-light">
                                        <div
                                            class="flex-shrink-0 h-2 w-2 border-2 border-[#7732EF] rounded-full bg-white inline-block align-middle">
                                        </div><span class="align-middle ml-2">Similar to a traditional 401(k), but
                                            designed
                                            to
                                            ensure that all employees can participate, not just those who are highly
                                            compensated</span>
                                    </div>
                                </div>
                                <div class="text-center mt-3">
                                    <div class="inline-block text-[15px] text-[#5F5F5F] font-light">
                                        <div
                                            class="flex-shrink-0 h-2 w-2 border-2 border-[#7732EF] rounded-full bg-white inline-block align-middle">
                                        </div><span class="align-middle ml-2">You can withdraw money any time afterage
                                            59½</span>
                                    </div>
                                </div>
                                <div class="text-center mt-3">
                                    <div class="inline-block text-[15px] text-[#5F5F5F] font-light">
                                        <div
                                            class="flex-shrink-0 h-2 w-2 border-2 border-[#7732EF] rounded-full bg-white inline-block align-middle">
                                        </div><span class="align-middle ml-2">Withdrawals are subject to income
                                            tax</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-4 rounded-lg bg-[#F9F7FF] flex flex-col items-center justify-center">
                            <p class="font-semibold text-darkText text-lg">Profit Sharing Plan</p>
                            <div class="flex gap-1 space-y-1.5 text-center flex-col">
                                <div class="text-center mt-3">
                                    <div class="inline-block text-[15px] text-[#5F5F5F] font-light">
                                        <div
                                            class="flex-shrink-0 h-2 w-2 border-2 border-[#7732EF] rounded-full bg-white inline-block align-middle">
                                        </div><span class="align-middle ml-2">A pre-tax contribution plan that gives
                                            employees a
                                            portion of a company's profits</span>
                                    </div>
                                </div>
                                <div class="text-center mt-3">
                                    <div class="inline-block text-[15px] text-[#5F5F5F] font-light">
                                        <div
                                            class="flex-shrink-0 h-2 w-2 border-2 border-[#7732EF] rounded-full bg-white inline-block align-middle">
                                        </div><span class="align-middle ml-2">You can withdraw money any time after age
                                            59½
                                            (unless employer has selected a different age).</span>
                                    </div>
                                </div>
                                <div class="text-center mt-3">
                                    <div class="inline-block text-[15px] text-[#5F5F5F] font-light">
                                        <div
                                            class="flex-shrink-0 h-2 w-2 border-2 border-[#7732EF] rounded-full bg-white inline-block align-middle">
                                        </div><span class="align-middle ml-2">Withdrawals are subject to income
                                            tax</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-4 rounded-lg bg-[#F9F7FF] flex flex-col items-center justify-center">
                            <p class="font-semibold text-darkText text-lg">SIMPLE 401(K)</p>
                            <div class="flex gap-1 space-y-1.5 text-center flex-col">
                                <div class="text-center mt-3">
                                    <div class="inline-block text-[15px] text-[#5F5F5F] font-light">
                                        <div
                                            class="flex-shrink-0 h-2 w-2 border-2 border-[#7732EF] rounded-full bg-white inline-block align-middle">
                                        </div><span class="align-middle ml-2">A pre-tax contribution plan for small
                                            businesses
                                            with under 100 employees</span>
                                    </div>
                                </div>
                                <div class="text-center mt-3">
                                    <div class="inline-block text-[15px] text-[#5F5F5F] font-light">
                                        <div
                                            class="flex-shrink-0 h-2 w-2 border-2 border-[#7732EF] rounded-full bg-white inline-block align-middle">
                                        </div><span class="align-middle ml-2">You can withdraw money any time after age
                                            59½
                                            (unless employer has selected a different age).</span>
                                    </div>
                                </div>
                                <div class="text-center mt-3">
                                    <div class="inline-block text-[15px] text-[#5F5F5F] font-light">
                                        <div
                                            class="flex-shrink-0 h-2 w-2 border-2 border-[#7732EF] rounded-full bg-white inline-block align-middle">
                                        </div><span class="align-middle ml-2">Withdrawals are subject to income
                                            tax</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br><br><br><br><br><br><br>
                <div class="mt-6 w-full overflow-x-auto">
                    <div class="min-w-[1300px] border border-border rounded-lg shadow-md">
                        <div
                            class="flex bg-[#F9F7FF] rounded-tl-lg rounded-tr-lg py-2 px-4 gap-2 justify-center items-center">
                            <div class="min-w-72 w-72"></div>
                            <div class="w-1/6 text-center font-semibold text-darkText">Traditional <br> 401(K)</div>
                            <div class="w-1/6 text-center font-semibold text-darkText">Solo 401(K)</div>
                            <div class="w-1/6 text-center font-semibold text-darkText">Roth 401(K)</div>
                            <div class="w-1/6 text-center font-semibold text-darkText">Safe Harbor <br> 401(K)</div>
                            <div class="w-1/6 text-center font-semibold text-darkText">Profit Sharing</div>
                            <div class="w-1/6 text-center font-semibold text-darkText">SIMPLE 401(K)</div>
                        </div>
                        <div
                            class="border-b flex bg-white rounded-bl-lg rounded-br-lg p-4 gap-2 justify-center items-center relative">
                            <div class="min-w-72 w-72 font-semibold text-base text-darkText">Sole Proprietorship</div>
                            <div class="w-1/6 text-center font-semibold text-darkText flex justify-center items-center">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/wrong.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/wrong.svg" class="w-5 h-5">
                            </div>
                            <div class="w-1/6 text-center font-semibold text-darkText flex justify-center items-center">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/wrong.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/wrong.svg" class="w-5 h-5">
                            </div>
                            <div class="w-1/6 text-center font-semibold text-darkText flex justify-center items-center">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/wrong.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/wrong.svg" class="w-5 h-5">
                            </div>
                            <div class="w-1/6 text-center font-semibold text-darkText flex justify-center items-center">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/wrong.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/wrong.svg" class="w-5 h-5">
                            </div>
                            <div class="w-1/6 text-center font-semibold text-darkText flex justify-center items-center">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/wrong.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/wrong.svg" class="w-5 h-5">
                            </div>
                            <div class="w-1/6 text-center font-semibold text-darkText flex justify-center items-center">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/wrong.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/wrong.svg" class="w-5 h-5">
                            </div>
                        </div>
                        <div
                            class="border-b flex bg-white rounded-bl-lg rounded-br-lg p-4 gap-2 justify-center items-center relative">
                            <div class="min-w-72 w-72 font-semibold text-base text-darkText">S-Corp with Employees</div>
                            <div class="w-1/6 text-center font-semibold text-darkText flex justify-center items-center">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/right.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/right.svg" class="w-5 h-5">
                            </div>
                            <div class="w-1/6 text-center font-semibold text-darkText flex justify-center items-center">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/wrong.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/wrong.svg" class="w-5 h-5">
                            </div>
                            <div class="w-1/6 text-center font-semibold text-darkText flex justify-center items-center">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/right.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/right.svg" class="w-5 h-5">
                            </div>
                            <div class="w-1/6 text-center font-semibold text-darkText flex justify-center items-center">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/right.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/right.svg" class="w-5 h-5">
                            </div>
                            <div class="w-1/6 text-center font-semibold text-darkText flex justify-center items-center">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/right.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/right.svg" class="w-5 h-5">
                            </div>
                            <div class="w-1/6 text-center font-semibold text-darkText flex justify-center items-center">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/right.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/right.svg"
                                    class="w-5 h-5"><span
                                    class="text-[13px] text-[#797979] font-medium absolute bottom-0">If
                                    under 100 employees</span>
                            </div>
                        </div>
                        <div
                            class="border-b flex bg-white rounded-bl-lg rounded-br-lg p-4 gap-2 justify-center items-center relative">
                            <div class="min-w-72 w-72 font-semibold text-base text-darkText">S-Corp Owner Only Employee
                            </div>
                            <div class="w-1/6 text-center font-semibold text-darkText flex justify-center items-center">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/right.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/right.svg" class="w-5 h-5">
                            </div>
                            <div class="w-1/6 text-center font-semibold text-darkText flex justify-center items-center">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/right.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/right.svg" class="w-5 h-5">
                            </div>
                            <div class="w-1/6 text-center font-semibold text-darkText flex justify-center items-center">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/right.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/right.svg" class="w-5 h-5">
                            </div>
                            <div class="w-1/6 text-center font-semibold text-darkText flex justify-center items-center">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/right.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/right.svg" class="w-5 h-5">
                            </div>
                            <div class="w-1/6 text-center font-semibold text-darkText flex justify-center items-center">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/right.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/right.svg" class="w-5 h-5">
                            </div>
                            <div class="w-1/6 text-center font-semibold text-darkText flex justify-center items-center">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/right.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/right.svg" class="w-5 h-5">
                            </div>
                        </div>
                        <div
                            class="border-b flex bg-white rounded-bl-lg rounded-br-lg p-4 gap-2 justify-center items-center relative">
                            <div class="min-w-72 w-72 font-semibold text-base text-darkText">C-Corp With Employees</div>
                            <div class="w-1/6 text-center font-semibold text-darkText flex justify-center items-center">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/right.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/right.svg" class="w-5 h-5">
                            </div>
                            <div class="w-1/6 text-center font-semibold text-darkText flex justify-center items-center">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/wrong.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/wrong.svg" class="w-5 h-5">
                            </div>
                            <div class="w-1/6 text-center font-semibold text-darkText flex justify-center items-center">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/right.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/right.svg" class="w-5 h-5">
                            </div>
                            <div class="w-1/6 text-center font-semibold text-darkText flex justify-center items-center">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/right.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/right.svg" class="w-5 h-5">
                            </div>
                            <div class="w-1/6 text-center font-semibold text-darkText flex justify-center items-center">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/right.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/right.svg" class="w-5 h-5">
                            </div>
                            <div class="w-1/6 text-center font-semibold text-darkText flex justify-center items-center">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/right.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/right.svg"
                                    class="w-5 h-5"><span
                                    class="text-[13px] text-[#797979] font-medium absolute bottom-0">If
                                    under 100 employees</span>
                            </div>
                        </div>
                        <div
                            class="border-b flex bg-white rounded-bl-lg rounded-br-lg p-4 gap-2 justify-center items-center relative">
                            <div class="min-w-72 w-72 font-semibold text-base text-darkText">C-Corp Owner Only Employee
                            </div>
                            <div class="w-1/6 text-center font-semibold text-darkText flex justify-center items-center">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/right.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/right.svg" class="w-5 h-5">
                            </div>
                            <div class="w-1/6 text-center font-semibold text-darkText flex justify-center items-center">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/right.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/right.svg" class="w-5 h-5">
                            </div>
                            <div class="w-1/6 text-center font-semibold text-darkText flex justify-center items-center">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/right.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/right.svg" class="w-5 h-5">
                            </div>
                            <div class="w-1/6 text-center font-semibold text-darkText flex justify-center items-center">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/right.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/right.svg" class="w-5 h-5">
                            </div>
                            <div class="w-1/6 text-center font-semibold text-darkText flex justify-center items-center">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/right.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/right.svg" class="w-5 h-5">
                            </div>
                            <div class="w-1/6 text-center font-semibold text-darkText flex justify-center items-center">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/right.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/right.svg" class="w-5 h-5">
                            </div>
                        </div>
                        <div
                            class="border-b flex bg-white rounded-bl-lg rounded-br-lg p-4 gap-2 justify-center items-center relative">
                            <div class="min-w-72 w-72 font-semibold text-base text-darkText">Partnership with Employees
                            </div>
                            <div class="w-1/6 text-center font-semibold text-darkText flex justify-center items-center">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/right.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/right.svg"
                                    class="w-5 h-5"><span class="text-darkText font-semibold text-lg">*</span>
                            </div>
                            <div class="w-1/6 text-center font-semibold text-darkText flex justify-center items-center">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/wrong.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/wrong.svg" class="w-5 h-5">
                            </div>
                            <div class="w-1/6 text-center font-semibold text-darkText flex justify-center items-center">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/right.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/right.svg"
                                    class="w-5 h-5"><span class="text-darkText font-semibold text-lg">*</span>
                            </div>
                            <div class="w-1/6 text-center font-semibold text-darkText flex justify-center items-center">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/right.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/right.svg"
                                    class="w-5 h-5"><span class="text-darkText font-semibold text-lg">*</span>
                            </div>
                            <div class="w-1/6 text-center font-semibold text-darkText flex justify-center items-center">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/right.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/right.svg" class="w-5 h-5">
                            </div>
                            <div class="w-1/6 text-center font-semibold text-darkText flex justify-center items-center">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/right.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/right.svg"
                                    class="w-5 h-5"><span class="text-darkText font-semibold text-lg">*</span><span
                                    class="text-[13px] text-[#797979] font-medium absolute bottom-0">If under 100
                                    employees</span>
                            </div>
                        </div>
                        <div
                            class="flex bg-white rounded-bl-lg rounded-br-lg p-4 gap-2 justify-center items-center relative">
                            <div class="min-w-72 w-72 font-semibold text-base text-darkText">Partnership Owner Only
                                Employee
                            </div>
                            <div class="w-1/6 text-center font-semibold text-darkText flex justify-center items-center">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/wrong.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/wrong.svg" class="w-5 h-5">
                            </div>
                            <div class="w-1/6 text-center font-semibold text-darkText flex justify-center items-center">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/wrong.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/wrong.svg" class="w-5 h-5">
                            </div>
                            <div class="w-1/6 text-center font-semibold text-darkText flex justify-center items-center">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/wrong.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/wrong.svg" class="w-5 h-5">
                            </div>
                            <div class="w-1/6 text-center font-semibold text-darkText flex justify-center items-center">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/wrong.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/wrong.svg" class="w-5 h-5">
                            </div>
                            <div class="w-1/6 text-center font-semibold text-darkText flex justify-center items-center">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/wrong.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/wrong.svg" class="w-5 h-5">
                            </div>
                            <div class="w-1/6 text-center font-semibold text-darkText flex justify-center items-center">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/wrong.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/wrong.svg" class="w-5 h-5">
                            </div>
                        </div>
                    </div>
                    <p class="mt-4 text-[13px] text-[#797979] w-full min-w-[1300px] flex justify-end"><span
                            class="text-darkText font-semibold text-sm mr-1">*</span>A partner can not be a W-2 -
                        employee,
                        so
                        401 (K) will not benefit the partner.</p>
                </div>


                <div style="display: flex; margin-top: 1rem; width: 100%; gap: 1rem;">
                    <div
                        style="border: solid; border-width: 1px; border-color: rgb(228, 225, 234); background-color: rgb(255, 255, 255); border-radius: 0.5rem; width: 33.3333%;">
                        <div
                            style="padding: 1rem 1.5rem; border-bottom-width: 1px; font-size: 1.25rem; line-height: 1.75rem; color: rgb(24, 24, 24); font-weight: 700;">
                            Tax Planner Pro Rankings: 14 Days Home Rental</div>
                        <div style="padding: 1.5rem;">
                            <div style="width: 100%; margin-bottom: 1.5rem;">
                                <div
                                    style="margin-bottom: 0.5rem; font-size: 1rem; line-height: 1.5rem; font-weight: 600; color: rgb(24, 24, 24);">
                                    Strategy Overall Benefit</div>
                                <div
                                    style="position: relative; width: 100%; height: 0.75rem; background-color: rgb(229, 231, 235); border-radius: 9999px; overflow: hidden;">
                                    <div
                                        style="background: linear-gradient(to right, rgb(174, 143, 247), rgb(216, 200, 255)); width: 40%; height: 100%; border-radius: 9999px;">
                                    </div>
                                </div>
                                <div
                                    style="display: flex; justify-content: space-between; margin-top: 0.25rem; font-size: 0.875rem; line-height: 1.25rem; color: rgb(75, 85, 99);">
                                    <p
                                        style="font-weight: 500; font-size: 0.875rem; line-height: 1.25rem; color: rgb(24, 24, 24);">
                                        Small Benefit</p>
                                    <p
                                        style="font-weight: 500; font-size: 0.875rem; line-height: 1.25rem; color: rgb(24, 24, 24);">
                                        Large Benefit</p>
                                </div>
                            </div>
                            <div style="width: 100%; margin-bottom: 1.5rem;">
                                <div
                                    style="margin-bottom: 0.5rem; font-size: 1rem; line-height: 1.5rem; font-weight: 600; color: rgb(24, 24, 24);">
                                    Difficulty Rating</div>
                                <div
                                    style="position: relative; width: 100%; height: 0.75rem; background-color: rgb(229, 231, 235); border-radius: 9999px; overflow: hidden;">
                                    <div
                                        style="background: linear-gradient(to right, rgb(174, 143, 247), rgb(216, 200, 255)); width: 75%; height: 100%; border-radius: 9999px;">
                                    </div>
                                </div>
                                <div
                                    style="display: flex; justify-content: space-between; margin-top: 0.25rem; font-size: 0.875rem; line-height: 1.25rem; color: rgb(75, 85, 99);">
                                    <p
                                        style="font-weight: 500; font-size: 0.875rem; line-height: 1.25rem; color: rgb(24, 24, 24);">
                                        Easy Setup</p>
                                    <p
                                        style="font-weight: 500; font-size: 0.875rem; line-height: 1.25rem; color: rgb(24, 24, 24);">
                                        Difficult Setup</p>
                                </div>
                            </div>
                            <div style="width: 100%; margin-bottom: 1.5rem;">
                                <div
                                    style="margin-bottom: 0.5rem; font-size: 1rem; line-height: 1.5rem; font-weight: 600; color: rgb(24, 24, 24);">
                                    Audit Risk</div>
                                <div
                                    style="position: relative; width: 100%; height: 0.75rem; background-color: rgb(229, 231, 235); border-radius: 9999px; overflow: hidden;">
                                    <div
                                        style="background: linear-gradient(to right, rgb(174, 143, 247), rgb(216, 200, 255)); width: 75%; height: 100%; border-radius: 9999px;">
                                    </div>
                                </div>
                                <div
                                    style="display: flex; justify-content: space-between; margin-top: 0.25rem; font-size: 0.875rem; line-height: 1.25rem; color: rgb(75, 85, 99);">
                                    <p
                                        style="font-weight: 500; font-size: 0.875rem; line-height: 1.25rem; color: rgb(24, 24, 24);">
                                        Audit Unlikely</p>
                                    <p
                                        style="font-weight: 500; font-size: 0.875rem; line-height: 1.25rem; color: rgb(24, 24, 24);">
                                        Audit Possible</p>
                                </div>
                            </div>
                            <div style="width: 100%; margin-bottom: 1.5rem;">
                                <div
                                    style="margin-bottom: 0.5rem; font-size: 1rem; line-height: 1.5rem; font-weight: 600; color: rgb(24, 24, 24);">
                                    Aggressiveness Rating</div>
                                <div
                                    style="position: relative; width: 100%; height: 0.75rem; background-color: rgb(229, 231, 235); border-radius: 9999px; overflow: hidden;">
                                    <div
                                        style="background: linear-gradient(to right, rgb(174, 143, 247), rgb(216, 200, 255)); width: 75%; height: 100%; border-radius: 9999px;">
                                    </div>
                                </div>
                                <div
                                    style="display: flex; justify-content: space-between; margin-top: 0.25rem; font-size: 0.875rem; line-height: 1.25rem; color: rgb(75, 85, 99);">
                                    <p
                                        style="font-weight: 500; font-size: 0.875rem; line-height: 1.25rem; color: rgb(24, 24, 24);">
                                        Small Benefit</p>
                                    <p
                                        style="font-weight: 500; font-size: 0.875rem; line-height: 1.25rem; color: rgb(24, 24, 24);">
                                        Very High</p>
                                </div>
                            </div>
                            <div>
                                <div
                                    style="margin-bottom: 0.5rem; font-size: 1rem; line-height: 1.5rem; font-weight: 600; color: rgb(24, 24, 24);">
                                    Implementation Deadline</div>
                                <div
                                    style="font-weight: 500; color: rgb(24, 24, 24); font-size: 1rem; line-height: 1.5rem;">
                                    December 31st of the current tax year</div>
                            </div>
                        </div>
                    </div>
                    <div
                        style="position: relative; border: solid; border-width: 1px; border-color: rgb(228, 225, 234); background-color: white; border-radius: 0.5rem; width: 66.6667%;">
                        <div
                            style="padding: 1rem 1.5rem; border-bottom-width: 1px; font-size: 1.25rem; line-height: 1.75rem; color: rgb(24, 24, 24); font-weight: 700;">
                            Entity Availability</div>
                        <div style="position: relative; height: calc(100% - 61px);">
                            <div
                                style="border: solid; border-width: 3px; border-color: rgb(174, 143, 247); border-radius: 9999px; height: 300px; width: 300px; position: absolute; opacity: 0.5; transform: translate(-50%, -50%); left: 50%; top: 50%;">
                            </div>
                            <div
                                style="border: solid; border-width: 3px; border-color: rgb(174, 143, 247); border-radius: 9999px; height: 420px; width: 420px; position: absolute; opacity: 0.1; transform: translate(-50%, -50%); left: 50%; top: 50%;">
                            </div>
                            <div
                                style="left: 5rem; top: 1.25rem; border: 1px solid rgb(228, 225, 234); border-radius: 10px; display: flex; justify-content: center; align-items: center; flex-direction: column; z-index: 10; position: absolute; background-color: white; width: 250px; height: 194px;">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/handOnKey.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/handOnKey.svg"
                                    style="width: 72px; height: 72px;">
                                <p
                                    style="font-weight: 500; color: rgb(24, 24, 24); font-size: 1.125rem; line-height: 1.75rem; margin: 1rem 0px;">
                                    Sole Prop</p><span
                                    style="color: white; border-radius: 0.75rem; padding: 0.5rem 1rem; background-color: rgb(219, 28, 28);">Disallowed</span>
                            </div>
                            <div
                                style="left: 5rem; bottom: 1.25rem; border: 1px solid rgb(228, 225, 234); border-radius: 10px; display: flex; justify-content: center; align-items: center; flex-direction: column; z-index: 10; position: absolute; background-color: white; width: 250px; height: 194px;">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/handShake2.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/handShake2.svg"
                                    style="width: 72px; height: 72px;">
                                <p
                                    style="font-weight: 500; color: rgb(24, 24, 24); font-size: 1.125rem; line-height: 1.75rem; margin: 1rem 0px;">
                                    Partnership</p><span
                                    style="color: white; border-radius: 0.75rem; padding: 0.5rem 1rem; background-color: rgb(0, 180, 44);">Available</span>
                            </div>
                            <div
                                style="top: 50%; left: 50%; transform: translate(-50%, -50%); border: 1px solid rgb(228, 225, 234); border-radius: 10px; display: flex; justify-content: center; align-items: center; flex-direction: column; z-index: 10; position: absolute; background-color: white; width: 250px; height: 194px;">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/user.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/user.svg"
                                    style="width: 72px; height: 72px;">
                                <p
                                    style="font-weight: 500; color: rgb(24, 24, 24); font-size: 1.125rem; line-height: 1.75rem; margin: 1rem 0px;">
                                    Individual</p><span
                                    style="color: white; border-radius: 0.75rem; padding: 0.5rem 1rem; background-color: rgb(0, 180, 44);">Available</span>
                            </div>
                            <div
                                style="right: 5rem; top: 1.25rem; border: 1px solid rgb(228, 225, 234); border-radius: 10px; display: flex; justify-content: center; align-items: center; flex-direction: column; z-index: 10; position: absolute; background-color: white; width: 250px; height: 194px;">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/building.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/building.svg"
                                    style="width: 72px; height: 72px;">
                                <p
                                    style="font-weight: 500; color: rgb(24, 24, 24); font-size: 1.125rem; line-height: 1.75rem; margin: 1rem 0px;">
                                    S-Corp</p><span
                                    style="color: white; border-radius: 0.75rem; padding: 0.5rem 1rem; background-color: rgb(0, 180, 44);">Available</span>
                            </div>
                            <div
                                style="right: 5rem; bottom: 1.25rem; border: 1px solid rgb(228, 225, 234); border-radius: 10px; display: flex; justify-content: center; align-items: center; flex-direction: column; z-index: 10; position: absolute; background-color: white; width: 250px; height: 194px;">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/companyBuilding.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/companyBuilding.svg"
                                    style="width: 72px; height: 72px;">
                                <p
                                    style="font-weight: 500; color: rgb(24, 24, 24); font-size: 1.125rem; line-height: 1.75rem; margin: 1rem 0px;">
                                    C-Corp</p><span
                                    style="color: white; border-radius: 0.75rem; padding: 0.5rem 1rem; background-color: rgb(0, 180, 44);">Available</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    style="padding: 1.5rem; border: solid; border-width: 1px; border-color: rgb(228, 225, 234); background-color: rgb(255, 255, 255); border-radius: 0.5rem; margin-top: 1rem;">
                    <div style="display: flex; align-items: center; gap: 0.5rem;">
                        <p style="color: rgb(24, 24, 24); font-weight: 500; font-size: 1rem; line-height: 1.5rem;">
                            DISCLAIMER</p>
                        <div style="border: solid; border-width: 1px; border-color: rgb(228, 225, 234); width: 100%;">
                        </div>
                    </div>
                    <p
                        style="color: rgb(104, 104, 104); font-weight: 500; font-size: 1rem; line-height: 1.5rem; margin-top: 0.5rem;">
                        Material discussed is meant for informational purposes only, and it is not to be relied on as
                        investment, tax, or legal advice. Although the tax guidance has been gathered from sources
                        believed
                        to be reliable, please note that individual situations can vary. Therefore, the information
                        should
                        be relied upon when coordinated with individual professional advice.</p>
                    <p
                        style="color: rgb(104, 104, 104); font-weight: 500; font-size: 1rem; line-height: 1.5rem; margin-top: 0.5rem;">
                        Additionally, at times we may discuss the law or new and pending legislation. Please know our
                        understanding of it is constantly changing, and you cannot and should not rely upon us for
                        legal,
                        financial, or accounting advice.</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>