<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Defined Benefit Plans</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div style="position: relative; width: 100%;">
        <div style="position: absolute; top: -224px; left: -185px; scale: 0.744;">
            <div style="padding: 6px; width: 1559px; margin-inline: auto;">
                <div
                    style="padding: 1.5rem; border: 1px solid rgb(228, 225, 234); display: flex; justify-content: space-between; align-items: center; background-color: white; border-radius: 0.5rem; margin-top: 1rem; gap: 0.5rem;">
                    <div style="width: 50%;">
                        <p style="color: rgb(24, 24, 24); font-weight: 600; font-size: 1.5rem; line-height: 2rem;">
                            Defined Benefit Plans</p>
                        <p
                            style="color: rgb(104, 104, 104); font-weight: 500; font-size: 1rem; line-height: 1.5rem; margin-top: 0.5rem;">
                            Defined Benefit Plans, also called “Pension Plans” provide a fixed, pre-established
                            retirement plan for employees. Creating pension plans for your employees might be a smart
                            move as a business owner. Let’s explore some reasons why a pension plan could be beneficial
                            to both you and your employees.</p>
                    </div>
                    <div
                        style="padding: 0.625rem 1.25rem; border: 1px solid rgb(174, 143, 247); color: rgb(174, 143, 247); background-color: rgba(174, 143, 247, 0.1); border-radius: 50px; height: max-content;">
                        See Tax Code 26 U.S. Code § 401 - Qualified pension, profit-sharing, and stock bonus plans</div>
                </div>
                <div
                    style="padding: 1.5rem; border: 1px solid rgb(228, 225, 234); background-color: white; border-radius: 0.5rem; margin-top: 1rem;">
                    <div
                        style="display: flex; justify-content: center; color: rgb(24, 24, 24); font-size: 1.25rem; line-height: 1.75rem; font-weight: 600; text-transform: capitalize;">
                        What is a Defined Benefit Plan?</div>
                    <div style="width: 100%; display: flex; justify-content: center; margin-top: 0.375rem;">
                        <div style="width: 75px; border-bottom: 3px solid rgb(119, 50, 239);"></div>
                    </div>
                    <div style="display: flex; justify-content: center;">
                        <div
                            style="position: relative; overflow-x: hidden; padding: 1.5rem; margin-top: 2.5rem; height: 500px; width: 1200px;">
                            <div style="width: 140px; display: flex; flex-direction: column; align-items: center;"><img
                                    src="https://staging-media.taxplanner.pro/planning-icons/building1.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/building1.svg"
                                    style="height: 100%; width: 100%;">
                                <p style="font-size: 13px; color: rgb(95, 95, 95); margin-top: 0.5rem;">Your Company</p>
                            </div><img src="https://staging-media.taxplanner.pro/planning-icons/arrow.svg"
                                alt="https://staging-media.taxplanner.pro/planning-icons/arrow.svg"
                                style="position: absolute; top: 10rem; left: 11rem;"><img
                                src="https://staging-media.taxplanner.pro/planning-icons/dollars.svg"
                                alt="https://staging-media.taxplanner.pro/planning-icons/dollars.svg"
                                style="position: absolute; top: 8.5rem; left: 19rem;">
                            <p
                                style="font-size: 13px; color: rgb(95, 95, 95); position: absolute; top: 12.5rem; left: 17rem; max-width: max-content;">
                                Contributes Funds</p><img
                                src="https://staging-media.taxplanner.pro/planning-icons/arrow.svg"
                                alt="https://staging-media.taxplanner.pro/planning-icons/arrow.svg"
                                style="position: absolute; top: 10rem; left: 24rem;">
                            <p
                                style="font-size: 13px; color: rgb(95, 95, 95); position: absolute; top: 0px; left: 34rem; max-width: max-content;">
                                Pension Funds</p><img
                                src="https://staging-media.taxplanner.pro/planning-icons/house1.svg"
                                alt="https://staging-media.taxplanner.pro/planning-icons/house1.svg"
                                style="position: absolute; left: 31.5rem; top: 2.5rem;"><img
                                src="https://staging-media.taxplanner.pro/planning-icons/arrow.svg"
                                alt="https://staging-media.taxplanner.pro/planning-icons/arrow.svg"
                                style="position: absolute; top: 10rem; left: 44.5rem;">
                            <p
                                style="font-size: 13px; color: rgb(95, 95, 95); position: absolute; top: 12.5rem; left: 44rem; max-width: max-content;">
                                Pension Payments</p><img
                                src="https://staging-media.taxplanner.pro/planning-icons/dollars.svg"
                                alt="https://staging-media.taxplanner.pro/planning-icons/dollars.svg"
                                style="position: absolute; top: 8.5rem; left: 52.5rem;">
                            <p
                                style="font-size: 13px; color: rgb(95, 95, 95); position: absolute; top: 10rem; left: 58rem; max-width: max-content;">
                                Retired Employees</p><img
                                src="https://staging-media.taxplanner.pro/planning-icons/arrow.svg"
                                alt="https://staging-media.taxplanner.pro/planning-icons/arrow.svg"
                                style="position: absolute; top: 7.5rem; left: 57rem; transform: rotate(-20deg);"><img
                                src="https://staging-media.taxplanner.pro/planning-icons/arrow.svg"
                                alt="https://staging-media.taxplanner.pro/planning-icons/arrow.svg"
                                style="position: absolute; top: 12.5rem; left: 57rem; transform: rotate(20deg);"><img
                                src="https://staging-media.taxplanner.pro/planning-icons/agedMen.svg"
                                alt="https://staging-media.taxplanner.pro/planning-icons/agedMen.svg"
                                style="position: absolute; top: 3rem; left: 65rem;"><img
                                src="https://staging-media.taxplanner.pro/planning-icons/agedWomen.svg"
                                alt="https://staging-media.taxplanner.pro/planning-icons/agedWomen.svg"
                                style="position: absolute; top: 11.5rem; left: 66rem;"><img
                                src="https://staging-media.taxplanner.pro/planning-icons/arrow1.svg"
                                alt="https://staging-media.taxplanner.pro/planning-icons/arrow1.svg"
                                style="position: absolute; top: 14rem; left: 35.5rem;"><img
                                src="https://staging-media.taxplanner.pro/planning-icons/arrow1.svg"
                                alt="https://staging-media.taxplanner.pro/planning-icons/arrow1.svg"
                                style="position: absolute; top: 14rem; left: 38.5rem; transform: rotate(180deg);"><img
                                src="https://staging-media.taxplanner.pro/planning-icons/growth.svg"
                                alt="https://staging-media.taxplanner.pro/planning-icons/growth.svg"
                                style="position: absolute; top: 18.5rem; left: 34.75rem;">
                            <p
                                style="font-size: 13px; color: rgb(95, 95, 95); position: absolute; top: 25rem; left: 36.25rem;">
                                Market</p>
                            <p
                                style="font-size: 13px; color: rgb(95, 95, 95); position: absolute; top: 14rem; left: 33rem;">
                                Invest</p>
                            <p
                                style="font-size: 13px; color: rgb(95, 95, 95); position: absolute; top: 16.75rem; left: 39.75rem;">
                                Returns</p>
                            <div
                                style="background-color: rgb(240, 235, 255); border-radius: 0.5rem; padding: 1rem; width: 18rem; position: absolute; bottom: 0px; left: 53rem;">
                                <p
                                    style="font-weight: 600; font-size: 0.875rem; line-height: 1.25rem; color: rgb(95, 95, 95);">
                                    Determined based on:</p>
                                <div style="display: flex; align-items: center; margin-top: 0.75rem;">
                                    <div style="display: flex; gap: 0.5rem; align-items: center;">
                                        <div
                                            style="flex-shrink: 0; height: 0.5rem; width: 0.5rem; border: 2px solid rgb(174, 143, 247); border-radius: 9999px; display: inline-block; vertical-align: middle;">
                                        </div>
                                        <p style="font-weight: 500; font-size: 13px; color: rgb(95, 95, 95);">Years of
                                            Service</p>
                                    </div>
                                    <p
                                        style="font-weight: 600; font-size: 13px; color: rgb(95, 95, 95); margin-left: 3.5rem;">
                                        30 Years</p>
                                </div>
                                <div style="display: flex; align-items: center; margin-top: 0.5rem;">
                                    <div style="display: flex; gap: 0.5rem; align-items: center;">
                                        <div
                                            style="flex-shrink: 0; height: 0.5rem; width: 0.5rem; border: 2px solid rgb(174, 143, 247); border-radius: 9999px; display: inline-block; vertical-align: middle;">
                                        </div>
                                        <p
                                            style="font-weight: 500; font-size: 13px; color: rgb(95, 95, 95); width: max-content;">
                                            Final Compensation</p>
                                    </div>
                                    <p
                                        style="font-weight: 600; font-size: 13px; color: rgb(95, 95, 95); margin-left: 2rem;">
                                        $100,000</p>
                                </div>
                                <div style="display: flex; align-items: center; margin-top: 0.5rem;">
                                    <div style="display: flex; gap: 0.5rem; align-items: center;">
                                        <div
                                            style="flex-shrink: 0; height: 0.5rem; width: 0.5rem; border: 2px solid rgb(174, 143, 247); border-radius: 9999px; display: inline-block; vertical-align: middle;">
                                        </div>
                                        <p style="font-weight: 500; font-size: 13px; color: rgb(95, 95, 95);">Benefit
                                            Factor</p>
                                    </div>
                                    <p
                                        style="font-weight: 600; font-size: 13px; color: rgb(95, 95, 95); margin-left: 4.3rem;">
                                        1%</p>
                                </div>
                                <div
                                    style="width: 5rem; margin-top: 0.5rem; margin-left: 10.5rem; border: 1px solid rgb(174, 143, 247);">
                                </div>
                                <p
                                    style="font-weight: 600; font-size: 13px; color: rgb(95, 95, 95); margin-left: 10.5rem; margin-top: 0.5rem;">
                                    $30,000/yr</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    style="padding: 1.5rem; border: 1px solid rgb(228, 225, 234); background-color: white; border-radius: 0.5rem; margin-top: 1rem;">
                    <div
                        style="display: flex; justify-content: center; color: rgb(24, 24, 24); font-size: 1.25rem; line-height: 1.75rem; font-weight: 600; text-transform: capitalize;">
                        Is this Strategy Right for your Business?</div>
                    <div style="width: 100%; display: flex; justify-content: center; margin-top: 0.375rem;">
                        <div style="width: 75px; border-bottom: 3px solid rgb(119, 50, 239);"></div>
                    </div>
                    <div style="display: grid; grid-template-columns: repeat(4, minmax(0px, 1fr)); gap: 1rem;">
                        <div
                            style="border-radius: 0.5rem; background-color: rgb(249, 247, 255); display: flex; flex-direction: column; align-items: center; text-align: center; padding: 1rem; position: relative; margin-top: 4rem;">
                            <div
                                style="width: 6rem; height: 6rem; background-color: rgb(174, 143, 247); border-radius: 9999px; display: flex; justify-content: center; align-items: center; margin-bottom: 1rem; border: 2px solid white; position: absolute; top: 0px; left: 50%; transform: translate(-50%, -50%);">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/rightStrategy1.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/rightStrategy1.svg">
                            </div>
                            <p style="font-size: 15px; color: rgb(95, 95, 95); font-weight: 300; margin-top: 2.75rem;">
                                This strategy can be utilized by a business of any size and entity type</p>
                        </div>
                        <div
                            style="border-radius: 0.5rem; background-color: rgb(249, 247, 255); display: flex; flex-direction: column; align-items: center; text-align: center; padding: 1rem; position: relative; margin-top: 4rem;">
                            <div
                                style="width: 6rem; height: 6rem; background-color: rgb(174, 143, 247); border-radius: 9999px; display: flex; justify-content: center; align-items: center; margin-bottom: 1rem; border: 2px solid white; position: absolute; top: 0px; left: 50%; transform: translate(-50%, -50%);">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/rightStrategy2.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/rightStrategy2.svg">
                            </div>
                            <p style="font-size: 15px; color: rgb(95, 95, 95); font-weight: 300; margin-top: 2.75rem;">
                                Pension plans require an administrator to project how much needs to be contributed to
                                the plan each year</p>
                        </div>
                        <div
                            style="border-radius: 0.5rem; background-color: rgb(249, 247, 255); display: flex; flex-direction: column; align-items: center; text-align: center; padding: 1rem; position: relative; margin-top: 4rem;">
                            <div
                                style="width: 6rem; height: 6rem; background-color: rgb(174, 143, 247); border-radius: 9999px; display: flex; justify-content: center; align-items: center; margin-bottom: 1rem; border: 2px solid white; position: absolute; top: 0px; left: 50%; transform: translate(-50%, -50%);">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/rightStrategy3.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/rightStrategy3.svg">
                            </div>
                            <p style="font-size: 15px; color: rgb(95, 95, 95); font-weight: 300; margin-top: 2.75rem;">
                                Ensure contribution requirements are met exactly. There are penalties for adding too
                                little or too much</p>
                        </div>
                        <div
                            style="border-radius: 0.5rem; background-color: rgb(249, 247, 255); display: flex; flex-direction: column; align-items: center; text-align: center; padding: 1rem; position: relative; margin-top: 4rem;">
                            <div
                                style="width: 6rem; height: 6rem; background-color: rgb(174, 143, 247); border-radius: 9999px; display: flex; justify-content: center; align-items: center; margin-bottom: 1rem; border: 2px solid white; position: absolute; top: 0px; left: 50%; transform: translate(-50%, -50%);">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/rightStrategy4.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/rightStrategy4.svg">
                            </div>
                            <p style="font-size: 15px; color: rgb(95, 95, 95); font-weight: 300; margin-top: 2.75rem;">
                                Vesting can follow a variety of schedules from immediate to spread out over 7 years</p>
                        </div>
                        <div
                            style="border-radius: 0.5rem; background-color: rgb(249, 247, 255); display: flex; flex-direction: column; align-items: center; text-align: center; padding: 1rem; position: relative; margin-top: 4rem;">
                            <div
                                style="width: 6rem; height: 6rem; background-color: rgb(174, 143, 247); border-radius: 9999px; display: flex; justify-content: center; align-items: center; margin-bottom: 1rem; border: 2px solid white; position: absolute; top: 0px; left: 50%; transform: translate(-50%, -50%);">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/rightStrategy5.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/rightStrategy5.svg">
                            </div>
                            <p style="font-size: 15px; color: rgb(95, 95, 95); font-weight: 300; margin-top: 2.75rem;">
                                Contributions are tax deductible for the business</p>
                        </div>
                        <div
                            style="border-radius: 0.5rem; background-color: rgb(249, 247, 255); display: flex; flex-direction: column; align-items: center; text-align: center; padding: 1rem; position: relative; margin-top: 4rem;">
                            <div
                                style="width: 6rem; height: 6rem; background-color: rgb(174, 143, 247); border-radius: 9999px; display: flex; justify-content: center; align-items: center; margin-bottom: 1rem; border: 2px solid white; position: absolute; top: 0px; left: 50%; transform: translate(-50%, -50%);">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/rightStrategy6.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/rightStrategy6.svg">
                            </div>
                            <p style="font-size: 15px; color: rgb(95, 95, 95); font-weight: 300; margin-top: 2.75rem;">
                                Your company is responsible for managing the investments of the fund. This can be
                                outsourced to a 3rd party</p>
                        </div>
                        <div
                            style="border-radius: 0.5rem; background-color: rgb(249, 247, 255); display: flex; flex-direction: column; align-items: center; text-align: center; padding: 1rem; position: relative; margin-top: 4rem;">
                            <div
                                style="width: 6rem; height: 6rem; background-color: rgb(174, 143, 247); border-radius: 9999px; display: flex; justify-content: center; align-items: center; margin-bottom: 1rem; border: 2px solid white; position: absolute; top: 0px; left: 50%; transform: translate(-50%, -50%);">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/rightStrategy7.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/rightStrategy7.svg">
                            </div>
                            <p style="font-size: 15px; color: rgb(95, 95, 95); font-weight: 300; margin-top: 2.75rem;">
                                Pension payments can be paid out monthly or as a lump sum upon retirement</p>
                        </div>
                        <div
                            style="border-radius: 0.5rem; background-color: rgb(249, 247, 255); display: flex; flex-direction: column; align-items: center; text-align: center; padding: 1rem; position: relative; margin-top: 4rem;">
                            <div
                                style="width: 6rem; height: 6rem; background-color: rgb(174, 143, 247); border-radius: 9999px; display: flex; justify-content: center; align-items: center; margin-bottom: 1rem; border: 2px solid white; position: absolute; top: 0px; left: 50%; transform: translate(-50%, -50%);">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/rightStrategy8.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/rightStrategy8.svg">
                            </div>
                            <p style="font-size: 15px; color: rgb(95, 95, 95); font-weight: 300; margin-top: 2.75rem;">
                                Pension plans require you to file a Form 5500 with Schedule SB each year</p>
                        </div>
                    </div>
                </div>
                <div
                    style="padding: 1.5rem; border: 1px solid rgb(228, 225, 234); background-color: white; border-radius: 0.5rem; margin-top: 1rem;">
                    <div style="display: flex; min-width: 1200px; width: 100%; justify-content: space-around;">
                        <div style="height: 620px; width: 590px;">
                            <div
                                style="background-image: url(&quot;https://staging-media.taxplanner.pro/planning-icons/advantage1.svg&quot;); background-repeat: no-repeat; width: 100%; background-size: cover; padding: 5rem 1.5rem 1.5rem; position: relative; height: 620px;">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/smileFace.svg"
                                    alt="smileFaceImage" style="position: absolute; top: 2.75rem; left: 4rem;">
                                <div
                                    style="background-image: url(&quot;https://staging-media.taxplanner.pro/planning-icons/advantage2.svg&quot;); background-repeat: no-repeat; background-size: cover; position: absolute; right: 0px; top: 0px; width: 390px; height: 92px; display: flex; justify-content: center; align-items: center; color: white; font-weight: 600; font-size: 1.5rem; line-height: 2rem;">
                                    Advantage</div>
                                <div
                                    style="margin-top: 4rem; height: calc(100% - 75px); overflow-y: auto; padding-right: 0.5rem;">
                                    <div style="display: flex; gap: 0.75rem; margin-top: 0.375rem;">
                                        <div
                                            style="flex-shrink: 0; height: 0.5rem; width: 0.5rem; border: 2px solid white; border-radius: 9999px; display: inline-block; vertical-align: middle; margin-top: 0.5rem;">
                                        </div>
                                        <p style="font-size: 15px; color: white;">Contributions are tax deductible for
                                            the business</p>
                                    </div>
                                    <div style="display: flex; gap: 0.75rem; margin-top: 0.375rem;">
                                        <div
                                            style="flex-shrink: 0; height: 0.5rem; width: 0.5rem; border: 2px solid white; border-radius: 9999px; display: inline-block; vertical-align: middle; margin-top: 0.5rem;">
                                        </div>
                                        <p style="font-size: 15px; color: white;">Can be used alongside other retirement
                                            plans</p>
                                    </div>
                                    <div style="display: flex; gap: 0.75rem; margin-top: 0.375rem;">
                                        <div
                                            style="flex-shrink: 0; height: 0.5rem; width: 0.5rem; border: 2px solid white; border-radius: 9999px; display: inline-block; vertical-align: middle; margin-top: 0.5rem;">
                                        </div>
                                        <p style="font-size: 15px; color: white;">Can be used for a business of any size
                                        </p>
                                    </div>
                                    <div style="display: flex; gap: 0.75rem; margin-top: 0.375rem;">
                                        <div
                                            style="flex-shrink: 0; height: 0.5rem; width: 0.5rem; border: 2px solid white; border-radius: 9999px; display: inline-block; vertical-align: middle; margin-top: 0.5rem;">
                                        </div>
                                        <p style="font-size: 15px; color: white;">Substantial benefits can be provided
                                            and accrued within a short time — even with early retirement</p>
                                    </div>
                                    <div style="display: flex; gap: 0.75rem; margin-top: 0.375rem;">
                                        <div
                                            style="flex-shrink: 0; height: 0.5rem; width: 0.5rem; border: 2px solid white; border-radius: 9999px; display: inline-block; vertical-align: middle; margin-top: 0.5rem;">
                                        </div>
                                        <p style="font-size: 15px; color: white;">Employers can contribute (and deduct)
                                            more than under other retirement plans</p>
                                    </div>
                                    <div style="display: flex; gap: 0.75rem; margin-top: 0.375rem;">
                                        <div
                                            style="flex-shrink: 0; height: 0.5rem; width: 0.5rem; border: 2px solid white; border-radius: 9999px; display: inline-block; vertical-align: middle; margin-top: 0.5rem;">
                                        </div>
                                        <p style="font-size: 15px; color: white;">Plan provides a predictable benefit
                                        </p>
                                    </div>
                                    <div style="display: flex; gap: 0.75rem; margin-top: 0.375rem;">
                                        <div
                                            style="flex-shrink: 0; height: 0.5rem; width: 0.5rem; border: 2px solid white; border-radius: 9999px; display: inline-block; vertical-align: middle; margin-top: 0.5rem;">
                                        </div>
                                        <p style="font-size: 15px; color: white;">Vesting can follow a variety of
                                            schedules from immediate to spread out over seven years</p>
                                    </div>
                                    <div style="display: flex; gap: 0.75rem; margin-top: 0.375rem;">
                                        <div
                                            style="flex-shrink: 0; height: 0.5rem; width: 0.5rem; border: 2px solid white; border-radius: 9999px; display: inline-block; vertical-align: middle; margin-top: 0.5rem;">
                                        </div>
                                        <p style="font-size: 15px; color: white;">Benefits are not dependent on asset
                                            returns</p>
                                    </div>
                                    <div style="display: flex; gap: 0.75rem; margin-top: 0.375rem;">
                                        <div
                                            style="flex-shrink: 0; height: 0.5rem; width: 0.5rem; border: 2px solid white; border-radius: 9999px; display: inline-block; vertical-align: middle; margin-top: 0.5rem;">
                                        </div>
                                        <p style="font-size: 15px; color: white;">Plan can be used to promote certain
                                            business strategies by offering subsidized early retirement benefits</p>
                                    </div>
                                    <div style="display: flex; gap: 0.75rem; margin-top: 0.375rem;">
                                        <div
                                            style="flex-shrink: 0; height: 0.5rem; width: 0.5rem; border: 2px solid white; border-radius: 9999px; display: inline-block; vertical-align: middle; margin-top: 0.5rem;">
                                        </div>
                                        <p style="font-size: 15px; color: white;">Can be paid out as a monthly benefit
                                            or as a lump sum payment</p>
                                    </div>
                                    <div style="display: flex; gap: 0.75rem; margin-top: 0.375rem;">
                                        <div
                                            style="flex-shrink: 0; height: 0.5rem; width: 0.5rem; border: 2px solid white; border-radius: 9999px; display: inline-block; vertical-align: middle; margin-top: 0.5rem;">
                                        </div>
                                        <p style="font-size: 15px; color: white;">Advantageous for businesses that are
                                            looking to offset large amounts of taxable income</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="height: 620px; width: 590px;">
                            <div
                                style="background-image: url(&quot;https://staging-media.taxplanner.pro/planning-icons/disadvantage1.svg&quot;); background-repeat: no-repeat; width: 100%; background-size: cover; padding: 5rem 1.5rem 1.5rem; position: relative; height: 620px;">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/sadFace.svg"
                                    alt="sadFaceImage" style="position: absolute; top: 2.75rem; left: 4rem;">
                                <div
                                    style="background-image: url(&quot;https://staging-media.taxplanner.pro/planning-icons/disadvantage2.svg&quot;); background-repeat: no-repeat; background-size: cover; position: absolute; right: 0px; top: 0px; width: 390px; height: 92px; display: flex; justify-content: center; align-items: center; color: white; font-weight: 600; font-size: 1.5rem; line-height: 2rem;">
                                    Disadvantage</div>
                                <div
                                    style="margin-top: 4rem; height: calc(100% - 75px); overflow-y: auto; padding-right: 0.5rem;">
                                    <div style="display: flex; gap: 0.75rem; margin-top: 0.375rem;">
                                        <div
                                            style="flex-shrink: 0; height: 0.5rem; width: 0.5rem; border: 2px solid white; border-radius: 9999px; display: inline-block; vertical-align: middle; margin-top: 0.5rem;">
                                        </div>
                                        <p style="font-size: 15px; color: white;">Most costly type of plan</p>
                                    </div>
                                    <div style="display: flex; gap: 0.75rem; margin-top: 0.375rem;">
                                        <div
                                            style="flex-shrink: 0; height: 0.5rem; width: 0.5rem; border: 2px solid white; border-radius: 9999px; display: inline-block; vertical-align: middle; margin-top: 0.5rem;">
                                        </div>
                                        <p style="font-size: 15px; color: white;">Most administratively complex</p>
                                    </div>
                                    <div style="display: flex; gap: 0.75rem; margin-top: 0.375rem;">
                                        <div
                                            style="flex-shrink: 0; height: 0.5rem; width: 0.5rem; border: 2px solid white; border-radius: 9999px; display: inline-block; vertical-align: middle; margin-top: 0.5rem;">
                                        </div>
                                        <p style="font-size: 15px; color: white;">An excise tax applies if the minimum
                                            contribution requirement is not satisfied</p>
                                    </div>
                                    <div style="display: flex; gap: 0.75rem; margin-top: 0.375rem;">
                                        <div
                                            style="flex-shrink: 0; height: 0.5rem; width: 0.5rem; border: 2px solid white; border-radius: 9999px; display: inline-block; vertical-align: middle; margin-top: 0.5rem;">
                                        </div>
                                        <p style="font-size: 15px; color: white;">An excise tax applies if excess
                                            contributions are made</p>
                                    </div>
                                    <div style="display: flex; gap: 0.75rem; margin-top: 0.375rem;">
                                        <div
                                            style="flex-shrink: 0; height: 0.5rem; width: 0.5rem; border: 2px solid white; border-radius: 9999px; display: inline-block; vertical-align: middle; margin-top: 0.5rem;">
                                        </div>
                                        <p style="font-size: 15px; color: white;">Requires filing of Form 5500 with a
                                            Schedule SB</p>
                                    </div>
                                    <div style="display: flex; gap: 0.75rem; margin-top: 0.375rem;">
                                        <div
                                            style="flex-shrink: 0; height: 0.5rem; width: 0.5rem; border: 2px solid white; border-radius: 9999px; display: inline-block; vertical-align: middle; margin-top: 0.5rem;">
                                        </div>
                                        <p style="font-size: 15px; color: white;">Cannot retroactively decrease benefits
                                        </p>
                                    </div>
                                    <div style="display: flex; gap: 0.75rem; margin-top: 0.375rem;">
                                        <div
                                            style="flex-shrink: 0; height: 0.5rem; width: 0.5rem; border: 2px solid white; border-radius: 9999px; display: inline-block; vertical-align: middle; margin-top: 0.5rem;">
                                        </div>
                                        <p style="font-size: 15px; color: white;">Company must be responsible for
                                            managing the plan's investments and risk</p>
                                    </div>
                                    <div style="display: flex; gap: 0.75rem; margin-top: 0.375rem;">
                                        <div
                                            style="flex-shrink: 0; height: 0.5rem; width: 0.5rem; border: 2px solid white; border-radius: 9999px; display: inline-block; vertical-align: middle; margin-top: 0.5rem;">
                                        </div>
                                        <p style="font-size: 15px; color: white;">Business will need a pension
                                            administrator responsible for fund management</p>
                                    </div>
                                    <div style="display: flex; gap: 0.75rem; margin-top: 0.375rem;">
                                        <div
                                            style="flex-shrink: 0; height: 0.5rem; width: 0.5rem; border: 2px solid white; border-radius: 9999px; display: inline-block; vertical-align: middle; margin-top: 0.5rem;">
                                        </div>
                                        <p style="font-size: 15px; color: white;">Once set up, this plan is difficult to
                                            turn off</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="display: flex; margin-top: 1rem; width: 100%; gap: 1rem;">
                    <div
                        style="border: solid; border-width: 1px; border-color: rgb(228, 225, 234); background-color: rgb(255, 255, 255); border-radius: 0.5rem; width: 33.3333%;">
                        <div
                            style="padding: 1rem 1.5rem; border-bottom-width: 1px; font-size: 1.25rem; line-height: 1.75rem; color: rgb(24, 24, 24); font-weight: 700;">
                            Tax Planner Pro Rankings: 14 Days Home Rental</div>
                        <div style="padding: 1.5rem;">
                            <div style="width: 100%; margin-bottom: 1.5rem;">
                                <div
                                    style="margin-bottom: 0.5rem; font-size: 1rem; line-height: 1.5rem; font-weight: 600; color: rgb(24, 24, 24);">
                                    Strategy Overall Benefit</div>
                                <div
                                    style="position: relative; width: 100%; height: 0.75rem; background-color: rgb(229, 231, 235); border-radius: 9999px; overflow: hidden;">
                                    <div
                                        style="background: linear-gradient(to right, rgb(174, 143, 247), rgb(216, 200, 255)); width: 40%; height: 100%; border-radius: 9999px;">
                                    </div>
                                </div>
                                <div
                                    style="display: flex; justify-content: space-between; margin-top: 0.25rem; font-size: 0.875rem; line-height: 1.25rem; color: rgb(75, 85, 99);">
                                    <p
                                        style="font-weight: 500; font-size: 0.875rem; line-height: 1.25rem; color: rgb(24, 24, 24);">
                                        Small Benefit</p>
                                    <p
                                        style="font-weight: 500; font-size: 0.875rem; line-height: 1.25rem; color: rgb(24, 24, 24);">
                                        Large Benefit</p>
                                </div>
                            </div>
                            <div style="width: 100%; margin-bottom: 1.5rem;">
                                <div
                                    style="margin-bottom: 0.5rem; font-size: 1rem; line-height: 1.5rem; font-weight: 600; color: rgb(24, 24, 24);">
                                    Difficulty Rating</div>
                                <div
                                    style="position: relative; width: 100%; height: 0.75rem; background-color: rgb(229, 231, 235); border-radius: 9999px; overflow: hidden;">
                                    <div
                                        style="background: linear-gradient(to right, rgb(174, 143, 247), rgb(216, 200, 255)); width: 75%; height: 100%; border-radius: 9999px;">
                                    </div>
                                </div>
                                <div
                                    style="display: flex; justify-content: space-between; margin-top: 0.25rem; font-size: 0.875rem; line-height: 1.25rem; color: rgb(75, 85, 99);">
                                    <p
                                        style="font-weight: 500; font-size: 0.875rem; line-height: 1.25rem; color: rgb(24, 24, 24);">
                                        Easy Setup</p>
                                    <p
                                        style="font-weight: 500; font-size: 0.875rem; line-height: 1.25rem; color: rgb(24, 24, 24);">
                                        Difficult Setup</p>
                                </div>
                            </div>
                            <div style="width: 100%; margin-bottom: 1.5rem;">
                                <div
                                    style="margin-bottom: 0.5rem; font-size: 1rem; line-height: 1.5rem; font-weight: 600; color: rgb(24, 24, 24);">
                                    Audit Risk</div>
                                <div
                                    style="position: relative; width: 100%; height: 0.75rem; background-color: rgb(229, 231, 235); border-radius: 9999px; overflow: hidden;">
                                    <div
                                        style="background: linear-gradient(to right, rgb(174, 143, 247), rgb(216, 200, 255)); width: 75%; height: 100%; border-radius: 9999px;">
                                    </div>
                                </div>
                                <div
                                    style="display: flex; justify-content: space-between; margin-top: 0.25rem; font-size: 0.875rem; line-height: 1.25rem; color: rgb(75, 85, 99);">
                                    <p
                                        style="font-weight: 500; font-size: 0.875rem; line-height: 1.25rem; color: rgb(24, 24, 24);">
                                        Audit Unlikely</p>
                                    <p
                                        style="font-weight: 500; font-size: 0.875rem; line-height: 1.25rem; color: rgb(24, 24, 24);">
                                        Audit Possible</p>
                                </div>
                            </div>
                            <div style="width: 100%; margin-bottom: 1.5rem;">
                                <div
                                    style="margin-bottom: 0.5rem; font-size: 1rem; line-height: 1.5rem; font-weight: 600; color: rgb(24, 24, 24);">
                                    Aggressiveness Rating</div>
                                <div
                                    style="position: relative; width: 100%; height: 0.75rem; background-color: rgb(229, 231, 235); border-radius: 9999px; overflow: hidden;">
                                    <div
                                        style="background: linear-gradient(to right, rgb(174, 143, 247), rgb(216, 200, 255)); width: 75%; height: 100%; border-radius: 9999px;">
                                    </div>
                                </div>
                                <div
                                    style="display: flex; justify-content: space-between; margin-top: 0.25rem; font-size: 0.875rem; line-height: 1.25rem; color: rgb(75, 85, 99);">
                                    <p
                                        style="font-weight: 500; font-size: 0.875rem; line-height: 1.25rem; color: rgb(24, 24, 24);">
                                        Small Benefit</p>
                                    <p
                                        style="font-weight: 500; font-size: 0.875rem; line-height: 1.25rem; color: rgb(24, 24, 24);">
                                        Very High</p>
                                </div>
                            </div>
                            <div>
                                <div
                                    style="margin-bottom: 0.5rem; font-size: 1rem; line-height: 1.5rem; font-weight: 600; color: rgb(24, 24, 24);">
                                    Implementation Deadline</div>
                                <div
                                    style="font-weight: 500; color: rgb(24, 24, 24); font-size: 1rem; line-height: 1.5rem;">
                                    December 31st of the current tax year</div>
                            </div>
                        </div>
                    </div>
                    <div
                        style="position: relative; border: solid; border-width: 1px; border-color: rgb(228, 225, 234); background-color: white; border-radius: 0.5rem; width: 66.6667%;">
                        <div
                            style="padding: 1rem 1.5rem; border-bottom-width: 1px; font-size: 1.25rem; line-height: 1.75rem; color: rgb(24, 24, 24); font-weight: 700;">
                            Entity Availability</div>
                        <div style="position: relative; height: calc(100% - 61px);">
                            <div
                                style="border: solid; border-width: 3px; border-color: rgb(174, 143, 247); border-radius: 9999px; height: 300px; width: 300px; position: absolute; opacity: 0.5; transform: translate(-50%, -50%); left: 50%; top: 50%;">
                            </div>
                            <div
                                style="border: solid; border-width: 3px; border-color: rgb(174, 143, 247); border-radius: 9999px; height: 420px; width: 420px; position: absolute; opacity: 0.1; transform: translate(-50%, -50%); left: 50%; top: 50%;">
                            </div>
                            <div
                                style="left: 5rem; top: 1.25rem; border: 1px solid rgb(228, 225, 234); border-radius: 10px; display: flex; justify-content: center; align-items: center; flex-direction: column; z-index: 10; position: absolute; background-color: white; width: 250px; height: 194px;">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/handOnKey.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/handOnKey.svg"
                                    style="width: 72px; height: 72px;">
                                <p
                                    style="font-weight: 500; color: rgb(24, 24, 24); font-size: 1.125rem; line-height: 1.75rem; margin: 1rem 0px;">
                                    Sole Prop</p><span
                                    style="color: white; border-radius: 0.75rem; padding: 0.5rem 1rem; background-color: rgb(219, 28, 28);">Disallowed</span>
                            </div>
                            <div
                                style="left: 5rem; bottom: 1.25rem; border: 1px solid rgb(228, 225, 234); border-radius: 10px; display: flex; justify-content: center; align-items: center; flex-direction: column; z-index: 10; position: absolute; background-color: white; width: 250px; height: 194px;">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/handShake2.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/handShake2.svg"
                                    style="width: 72px; height: 72px;">
                                <p
                                    style="font-weight: 500; color: rgb(24, 24, 24); font-size: 1.125rem; line-height: 1.75rem; margin: 1rem 0px;">
                                    Partnership</p><span
                                    style="color: white; border-radius: 0.75rem; padding: 0.5rem 1rem; background-color: rgb(0, 180, 44);">Available</span>
                            </div>
                            <div
                                style="top: 50%; left: 50%; transform: translate(-50%, -50%); border: 1px solid rgb(228, 225, 234); border-radius: 10px; display: flex; justify-content: center; align-items: center; flex-direction: column; z-index: 10; position: absolute; background-color: white; width: 250px; height: 194px;">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/user.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/user.svg"
                                    style="width: 72px; height: 72px;">
                                <p
                                    style="font-weight: 500; color: rgb(24, 24, 24); font-size: 1.125rem; line-height: 1.75rem; margin: 1rem 0px;">
                                    Individual</p><span
                                    style="color: white; border-radius: 0.75rem; padding: 0.5rem 1rem; background-color: rgb(0, 180, 44);">Available</span>
                            </div>
                            <div
                                style="right: 5rem; top: 1.25rem; border: 1px solid rgb(228, 225, 234); border-radius: 10px; display: flex; justify-content: center; align-items: center; flex-direction: column; z-index: 10; position: absolute; background-color: white; width: 250px; height: 194px;">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/building.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/building.svg"
                                    style="width: 72px; height: 72px;">
                                <p
                                    style="font-weight: 500; color: rgb(24, 24, 24); font-size: 1.125rem; line-height: 1.75rem; margin: 1rem 0px;">
                                    S-Corp</p><span
                                    style="color: white; border-radius: 0.75rem; padding: 0.5rem 1rem; background-color: rgb(0, 180, 44);">Available</span>
                            </div>
                            <div
                                style="right: 5rem; bottom: 1.25rem; border: 1px solid rgb(228, 225, 234); border-radius: 10px; display: flex; justify-content: center; align-items: center; flex-direction: column; z-index: 10; position: absolute; background-color: white; width: 250px; height: 194px;">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/companyBuilding.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/companyBuilding.svg"
                                    style="width: 72px; height: 72px;">
                                <p
                                    style="font-weight: 500; color: rgb(24, 24, 24); font-size: 1.125rem; line-height: 1.75rem; margin: 1rem 0px;">
                                    C-Corp</p><span
                                    style="color: white; border-radius: 0.75rem; padding: 0.5rem 1rem; background-color: rgb(0, 180, 44);">Available</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    style="padding: 1.5rem; border: solid; border-width: 1px; border-color: rgb(228, 225, 234); background-color: rgb(255, 255, 255); border-radius: 0.5rem; margin-top: 1rem;">
                    <div style="display: flex; align-items: center; gap: 0.5rem;">
                        <p style="color: rgb(24, 24, 24); font-weight: 500; font-size: 1rem; line-height: 1.5rem;">
                            DISCLAIMER</p>
                        <div style="border: solid; border-width: 1px; border-color: rgb(228, 225, 234); width: 100%;">
                        </div>
                    </div>
                    <p
                        style="color: rgb(104, 104, 104); font-weight: 500; font-size: 1rem; line-height: 1.5rem; margin-top: 0.5rem;">
                        Material discussed is meant for informational purposes only, and it is not to be relied on as
                        investment, tax, or legal advice. Although the tax guidance has been gathered from sources
                        believed
                        to be reliable, please note that individual situations can vary. Therefore, the information
                        should
                        be relied upon when coordinated with individual professional advice.</p>
                    <p
                        style="color: rgb(104, 104, 104); font-weight: 500; font-size: 1rem; line-height: 1.5rem; margin-top: 0.5rem;">
                        Additionally, at times we may discuss the law or new and pending legislation. Please know our
                        understanding of it is constantly changing, and you cannot and should not rely upon us for
                        legal,
                        financial, or accounting advice.</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>