<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Acceleration </title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div style="position: relative; width: 100%;">
        <div style="position: absolute; top: -224px; left: -185px; scale: 0.744;">
            <div style="padding: 6px; width: 1559px; margin-inline: auto;">

                <div
                    style="padding: 1.5rem; border-width: 1px; display: flex; justify-content: space-between; align-items: center; background-color: white; border-radius: 0.5rem; margin-top: 1rem; gap: 0.5rem;">
                    <div style="width: 50%;">
                        <p style="color: rgb(24, 24, 24); font-weight: 600; font-size: 1.5rem; line-height: 2rem;">
                            Expense Acceleration</p>
                        <p
                            style="color: rgb(104, 104, 104); font-weight: 500; font-size: 1rem; line-height: 1.5; margin-top: 0.5rem;">
                            Expense acceleration is increasing your business expenses in the current year on
                            goods or by
                            prepaying operating costs you would normally spend in the next year. Therefore it
                            brings the
                            deduction into this year rather than next year. These can be simple expenses like
                            paper or
                            office supplies to more complex items like cars, trucks and buildings.</p>
                    </div>
                    <div
                        style="padding: 0.625rem 1.25rem; border-width: 1px; border-color: rgb(174, 143, 247); color: rgb(174, 143, 247); background-color: rgba(174, 143, 247, 0.1); border-radius: 50px; height: max-content;">
                        See Tax Code 26 U.S. Code ยง461 - General rule for taxable year of deduction</div>
                </div>

                <div
                    style="padding: 1.5rem; border: 1px solid rgb(228, 225, 234); background-color: white; border-radius: 0.5rem; margin-top: 1rem; gap: 0.5rem;">
                    <p style="color: rgb(24, 24, 24); font-weight: 600; font-size: 1.25rem; line-height: 1.75rem;">
                        The
                        12-Month Rule</p>
                    <div style="width: 100%; margin-top: 0.375rem;">
                        <div style="border-bottom: 3px solid rgb(119, 50, 239); width: 75px;"></div>
                    </div>
                    <p
                        style="color: rgb(119, 50, 239); font-weight: 300; font-size: 1.125rem; line-height: 1.75rem; margin-top: 0.5rem; margin-bottom: 0.5rem;">
                        For cash basis taxpayers, prepaid expenses can be deducted as long as the 12-month rule
                        is met
                    </p>
                    <div style="display: flex; gap: 0.75rem;">
                        <div
                            style="flex-shrink: 0; height: 0.75rem; width: 0.75rem; border: 2px solid rgb(119, 50, 239); border-radius: 9999px; background-color: white; margin-top: 0.625rem;">
                        </div>
                        <p style="font-size: 15px; color: rgb(95, 95, 95); font-weight: 300; margin-top: 6px;">
                            The <span class="font-semibold">"12-month rule"</span> allows for the deduction of a
                            prepaid
                            expense in the current year if the right or benefit paid for does not extend beyond
                            the
                            earlier of:</p>
                    </div>
                    <div style="display: flex; gap: 0.75rem;">
                        <div
                            style="flex-shrink: 0; height: 0.75rem; width: 0.75rem; border: 2px solid rgb(119, 50, 239); border-radius: 9999px; background-color: white; margin-top: 0.625rem;">
                        </div>
                        <p style="font-size: 15px; color: rgb(95, 95, 95); font-weight: 300; margin-top: 6px;">
                            12 months
                            from the date the prepayment is made, OR</p>
                    </div>
                    <div style="display: flex; gap: 0.75rem;">
                        <div
                            style="flex-shrink: 0; height: 0.75rem; width: 0.75rem; border: 2px solid rgb(119, 50, 239); border-radius: 9999px; background-color: white; margin-top: 0.625rem;">
                        </div>
                        <p style="font-size: 15px; color: rgb(95, 95, 95); font-weight: 300; margin-top: 6px;">
                            The end
                            of the taxable year following the taxable year in which the payment is made.</p>
                    </div>
                </div>

                <div
                    style="padding: 1.5rem; border: 1px solid rgb(228, 225, 234); background-color: white; border-radius: 0.5rem; margin-top: 1rem; display: flex; flex-direction: column; gap: 0.5rem;">
                    <p
                        style="color: rgb(24, 24, 24); font-weight: 600; font-size: 1.25rem; line-height: 1.75rem; display: flex; justify-content: center;">
                        Employing the 12-Month Rule</p>
                    <div style="width: 100%; display: flex; justify-content: center;">
                        <div style="border-bottom: 3px solid rgb(119, 50, 239); width: 75px;"></div>
                    </div>
                    <div style="display: grid; grid-template-columns: repeat(3, minmax(0px, 1fr)); gap: 1rem;">
                        <div style="border: 1px solid rgb(228, 225, 234); border-radius: 0.5rem; margin-top: 1rem;">
                            <div
                                style="padding: 1rem; background-color: white; border-top-right-radius: 0.5rem; border-top-left-radius: 0.5rem; display: flex; justify-content: center; align-items: center; height: 260px;">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/Group.svg"
                                    alt="GroupImage" style="height: 225px;">
                            </div>
                            <div
                                style="padding: 1rem; background-color: rgba(174, 143, 247, 0.1); height: calc(100% - 260px);">
                                <span style="font-weight: 600;">Paul</span> and<span style="font-weight: 600;">
                                    Emily</span> own a small cash basis business and are looking to reduce their
                                taxable
                                income by pre paying some business expenses
                            </div>
                        </div>
                        <div style="border: 1px solid rgb(228, 225, 234); border-radius: 0.5rem; margin-top: 1rem;">
                            <div
                                style="padding: 1rem; background-color: white; border-top-right-radius: 0.5rem; border-top-left-radius: 0.5rem; display: flex; justify-content: center; align-items: center; height: 260px;">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/Group2.svg"
                                    alt="Group2Image" style="height: 225px;">
                            </div>
                            <div
                                style="padding: 1rem; background-color: rgba(174, 143, 247, 0.1); height: calc(100% - 260px);">
                                <p style="font-weight: 600; font-size: 15px; color: rgb(95, 95, 95);">They
                                    decide to
                                    make the following payments on June 30th of this year</p>
                                <div style="display: flex; gap: 0.75rem;">
                                    <div
                                        style="flex-shrink: 0; width: 0.75rem; height: 0.75rem; border: 2px solid rgb(119, 50, 239); border-radius: 9999px; margin-top: 0.625rem;">
                                    </div>
                                    <p
                                        style="font-size: 15px; color: rgb(95, 95, 95); font-weight: 300; margin-top: 6px;">
                                        $10,000 for the next 10 months of utilities</p>
                                </div>
                                <div style="display: flex; gap: 0.75rem;">
                                    <div
                                        style="flex-shrink: 0; width: 0.75rem; height: 0.75rem; border: 2px solid rgb(119, 50, 239); border-radius: 9999px; margin-top: 0.625rem;">
                                    </div>
                                    <p
                                        style="font-size: 15px; color: rgb(95, 95, 95); font-weight: 300; margin-top: 6px;">
                                        $12,000 for insurance over the next 24 months</p>
                                </div>
                                <div style="display: flex; gap: 0.75rem;">
                                    <div
                                        style="flex-shrink: 0; width: 0.75rem; height: 0.75rem; border: 2px solid rgb(119, 50, 239); border-radius: 9999px; margin-top: 0.625rem;">
                                    </div>
                                    <p
                                        style="font-size: 15px; color: rgb(95, 95, 95); font-weight: 300; margin-top: 6px;">
                                        $9,600 for the next 8 months of interest on a business loan</p>
                                </div>
                            </div>
                        </div>
                        <div
                            style="border: 1px solid rgb(228, 225, 234); border-radius: 0.5rem; margin-top: 1rem; padding: 1rem; background-color: rgba(174, 143, 247, 0.1);">
                            <p
                                style="color: rgb(24, 24, 24); font-size: 1.125rem; line-height: 1.75rem; font-weight: 600;">
                                What Can Paul &amp; Emily Deduct This Year?</p>
                            <div style="display: flex; gap: 0.75rem; margin-top: 0.75rem;">
                                <div
                                    style="flex-shrink: 0; width: 0.75rem; height: 0.75rem; border: 2px solid rgb(119, 50, 239); border-radius: 9999px; margin-top: 0.625rem;">
                                </div>
                                <div>
                                    <p
                                        style="font-size: 1rem; line-height: 1.5rem; color: rgb(24, 24, 24); font-weight: 500; margin-top: 6px;">
                                        They can deduct all $10,000 for the utilities because:</p>
                                    <p
                                        style="font-size: 15px; color: rgb(95, 95, 95); font-weight: 300; margin-top: 0.25rem;">
                                        The benefit is not more than 12 months and the benefit ends prior to the
                                        end of
                                        next year.</p>
                                </div>
                            </div>
                            <div style="display: flex; gap: 0.75rem; margin-top: 0.75rem;">
                                <div
                                    style="flex-shrink: 0; width: 0.75rem; height: 0.75rem; border: 2px solid rgb(119, 50, 239); border-radius: 9999px; margin-top: 0.625rem;">
                                </div>
                                <div>
                                    <p
                                        style="font-size: 1rem; line-height: 1.5rem; color: rgb(24, 24, 24); font-weight: 500; margin-top: 6px;">
                                        They can deduct $6,000 for insurance because:</p>
                                    <p
                                        style="font-size: 15px; color: rgb(95, 95, 95); font-weight: 300; margin-top: 0.25rem;">
                                        The payment is more than 12 months so they can only deduct 12 months
                                        ($500 per
                                        month)</p>
                                </div>
                            </div>
                            <div style="display: flex; gap: 0.75rem; margin-top: 0.75rem;">
                                <div
                                    style="flex-shrink: 0; width: 0.75rem; height: 0.75rem; border: 2px solid rgb(119, 50, 239); border-radius: 9999px; margin-top: 0.625rem;">
                                </div>
                                <div>
                                    <p
                                        style="font-size: 1rem; line-height: 1.5rem; color: rgb(24, 24, 24); font-weight: 500; margin-top: 6px;">
                                        They can deduct $7,200 for interest because:</p>
                                    <p
                                        style="font-size: 15px; color: rgb(95, 95, 95); font-weight: 300; margin-top: 0.25rem;">
                                        The 12 month rule does not apply to interest</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div
                    style="padding: 1.5rem; border: 1px solid rgb(228, 225, 234); background-color: white; border-radius: 0.5rem; margin-top: 1rem; display: flex; flex-direction: column; gap: 0.5rem;">
                    <p
                        style="color: rgb(24, 24, 24); font-weight: 600; font-size: 1.25rem; line-height: 1.75rem; display: flex; justify-content: center;">
                        The All Events Test &amp; Economic Performance Test</p>
                    <div style="width: 100%; display: flex; justify-content: center;">
                        <div style="border-bottom: 3px solid rgb(119, 50, 239); width: 75px;"></div>
                    </div>
                    <p
                        style="color: rgb(119, 50, 239); font-weight: 300; font-size: 1.125rem; line-height: 1.75rem; display: flex; justify-content: center;">
                        For accrual basis taxpayers, the rules are more complicated.</p>
                    <p
                        style="color: rgb(95, 95, 95); font-size: 15px; font-weight: 600; display: flex; justify-content: center;">
                        There are two tests that must be met before the taxpayer can apply the 12-month rule.
                    </p>
                    <div style="display: flex; gap: 0.5rem; justify-content: center;">
                        <div
                            style="flex-shrink: 0; height: 0.75rem; width: 0.75rem; border: 2px solid rgb(119, 50, 239); border-radius: 9999px; background-color: white; margin-top: 0.625rem;">
                        </div>
                        <p
                            style="font-size: 15px; color: rgb(95, 95, 95); font-weight: 300; text-align: center; margin-top: 6px;">
                            The general rule is that the taxpayer cannot deduct a prepaid expense until the
                            obligation
                            to pay is fixed (all necessary events have occurred to establish liability), the
                            cost is
                            determinable, and the prepaid services or property are actually provided to the
                            taxpayer
                            (economic performance). </p>
                    </div>
                    <div style="display: flex; gap: 0.5rem; justify-content: center;">
                        <div
                            style="flex-shrink: 0; height: 0.75rem; width: 0.75rem; border: 2px solid rgb(119, 50, 239); border-radius: 9999px; background-color: white; margin-top: 0.625rem;">
                        </div>
                        <p
                            style="font-size: 15px; color: rgb(95, 95, 95); font-weight: 300; text-align: center; margin-top: 6px;">
                            There are a few notable exceptions where a cash payment results in economic
                            performance.
                            Common items include insurance contracts, warranty contracts, taxes, and workers'
                            compensation liability.</p>
                    </div>
                </div>

                <br><br><br><br><br><br><br><br><br>
                <br><br><br><br><br>
                <div
                    style="padding: 1.5rem; border: 1px solid rgb(228, 225, 234); background-color: white; border-radius: 0.5rem; margin-top: 1rem; display: flex; flex-direction: column; align-items: center; gap: 0.5rem;">
                    <p style="color: rgb(24, 24, 24); font-weight: 600; font-size: 1.25rem; line-height: 1.75rem;">
                        Employing the All Events &amp; Economic Performance Tests</p>
                    <div style="width: 100%; display: flex; justify-content: center;">
                        <div style="border-bottom: 3px solid rgb(119, 50, 239); width: 75px;"></div>
                    </div>
                    <div class="grid 1320:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-4"
                        style="display: grid; grid-template-columns: repeat(3, minmax(0px, 1fr)); gap: 1rem;">
                        <div style="border: 1px solid rgb(228, 225, 234); border-radius: 0.5rem; margin-top: 1rem;">
                            <div
                                style="padding: 1rem; background-color: white; border-top-right-radius: 0.5rem; border-top-left-radius: 0.5rem; display: flex; justify-content: center; align-items: center; height: 260px;">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/Group3.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/Group3.svg"
                                    style="height: 225px;">
                            </div>
                            <div class="p-4 bg-sidebarPurple h-[calc(100%-260px)]"
                                style="padding: 1rem; background-color: rgba(174, 143, 247, 0.1); height: calc(100% - 260px);">
                                <span class="font-semibold">Ben</span> has signed a binding contract for <span
                                    class="font-semibold">Peter </span>to provide <span class="font-semibold">Ben</span>
                                with repair services for $7,500 for his accrual based business
                            </div>
                        </div>
                        <div style="border: 1px solid rgb(228, 225, 234); border-radius: 0.5rem; margin-top: 1rem;">
                            <div
                                style="padding: 1rem; background-color: white; border-top-right-radius: 0.5rem; border-top-left-radius: 0.5rem; display: flex; justify-content: center; align-items: center; height: 260px;">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/Group4.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/Group4.svg"
                                    style="height: 225px;">
                            </div>
                            <div class="p-4 bg-sidebarPurple h-[calc(100%-260px)]"
                                style="padding: 1rem; background-color: rgba(174, 143, 247, 0.1); height: calc(100% - 260px);">
                                <span class="font-semibold">Ben</span> paid $1,500 to<span class="font-semibold">
                                    Peter</span> as a deposit for the work and owes an additional $6,000 on the
                                contract. The repairs will commence next year
                            </div>
                        </div>
                        <div style="border: 1px solid rgb(228, 225, 234); border-radius: 0.5rem; margin-top: 1rem;">
                            <div
                                style="padding: 1rem; background-color: white; border-top-right-radius: 0.5rem; border-top-left-radius: 0.5rem; display: flex; justify-content: center; align-items: center; height: 260px;">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/Group5.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/Group5.svg"
                                    style="height: 225px;">
                            </div>
                            <div class="p-4 bg-sidebarPurple h-[calc(100%-260px)]"
                                style="padding: 1rem; background-color: rgba(174, 143, 247, 0.1); height: calc(100% - 260px);">
                                Although the All Events Test is satisfied,<span class="font-semibold">
                                    Ben</span> can
                                only deduct the full $7,500 expense next year because that is when the Economic
                                Performance occurs (taxpayer liable for performing service)</div>
                        </div>
                    </div>
                </div>

                <div style="display: flex; margin-top: 1rem; width: 100%; gap: 1rem;">
                    <div
                        style="border: solid; border-width: 1px; border-color: rgb(228, 225, 234); background-color: rgb(255, 255, 255); border-radius: 0.5rem; width: 33.3333%;">
                        <div
                            style="padding: 1rem 1.5rem; border-bottom-width: 1px; font-size: 1.25rem; line-height: 1.75rem; color: rgb(24, 24, 24); font-weight: 700;">
                            Tax Planner Pro Rankings: 14 Days Home Rental
                        </div>
                        <div style="padding: 1.5rem;">
                            <div style="width: 100%; margin-bottom: 1.5rem;">
                                <div
                                    style="margin-bottom: 0.5rem; font-size: 1rem; line-height: 1.5rem; font-weight: 600; color: rgb(24, 24, 24);">
                                    Strategy Overall Benefit
                                </div>
                                <div
                                    style="position: relative; width: 100%; height: 0.75rem; background-color: rgb(229, 231, 235); border-radius: 9999px; overflow: hidden;">
                                    <div
                                        style="background: linear-gradient(to right, rgb(174, 143, 247), rgb(216, 200, 255)); width: 40%; height: 100%; border-radius: 9999px;">
                                    </div>
                                </div>
                                <div
                                    style="display: flex; justify-content: space-between; margin-top: 0.25rem; font-size: 0.875rem; line-height: 1.25rem; color: rgb(75, 85, 99);">
                                    <p
                                        style="font-weight: 500; font-size: 0.875rem; line-height: 1.25rem; color: rgb(24, 24, 24);">
                                        Small Benefit
                                    </p>
                                    <p
                                        style="font-weight: 500; font-size: 0.875rem; line-height: 1.25rem; color: rgb(24, 24, 24);">
                                        Large Benefit
                                    </p>
                                </div>
                            </div>
                            <div style="width: 100%; margin-bottom: 1.5rem;">
                                <div
                                    style="margin-bottom: 0.5rem; font-size: 1rem; line-height: 1.5rem; font-weight: 600; color: rgb(24, 24, 24);">
                                    Difficulty Rating
                                </div>
                                <div
                                    style="position: relative; width: 100%; height: 0.75rem; background-color: rgb(229, 231, 235); border-radius: 9999px; overflow: hidden;">
                                    <div
                                        style="background: linear-gradient(to right, rgb(174, 143, 247), rgb(216, 200, 255)); width: 75%; height: 100%; border-radius: 9999px;">
                                    </div>
                                </div>
                                <div
                                    style="display: flex; justify-content: space-between; margin-top: 0.25rem; font-size: 0.875rem; line-height: 1.25rem; color: rgb(75, 85, 99);">
                                    <p
                                        style="font-weight: 500; font-size: 0.875rem; line-height: 1.25rem; color: rgb(24, 24, 24);">
                                        Easy Setup
                                    </p>
                                    <p
                                        style="font-weight: 500; font-size: 0.875rem; line-height: 1.25rem; color: rgb(24, 24, 24);">
                                        Difficult Setup
                                    </p>
                                </div>
                            </div>
                            <div style="width: 100%; margin-bottom: 1.5rem;">
                                <div
                                    style="margin-bottom: 0.5rem; font-size: 1rem; line-height: 1.5rem; font-weight: 600; color: rgb(24, 24, 24);">
                                    Audit Risk
                                </div>
                                <div
                                    style="position: relative; width: 100%; height: 0.75rem; background-color: rgb(229, 231, 235); border-radius: 9999px; overflow: hidden;">
                                    <div
                                        style="background: linear-gradient(to right, rgb(174, 143, 247), rgb(216, 200, 255)); width: 75%; height: 100%; border-radius: 9999px;">
                                    </div>
                                </div>
                                <div
                                    style="display: flex; justify-content: space-between; margin-top: 0.25rem; font-size: 0.875rem; line-height: 1.25rem; color: rgb(75, 85, 99);">
                                    <p
                                        style="font-weight: 500; font-size: 0.875rem; line-height: 1.25rem; color: rgb(24, 24, 24);">
                                        Audit Unlikely
                                    </p>
                                    <p
                                        style="font-weight: 500; font-size: 0.875rem; line-height: 1.25rem; color: rgb(24, 24, 24);">
                                        Audit Possible
                                    </p>
                                </div>
                            </div>
                            <div style="width: 100%; margin-bottom: 1.5rem;">
                                <div
                                    style="margin-bottom: 0.5rem; font-size: 1rem; line-height: 1.5rem; font-weight: 600; color: rgb(24, 24, 24);">
                                    Aggressiveness Rating
                                </div>
                                <div
                                    style="position: relative; width: 100%; height: 0.75rem; background-color: rgb(229, 231, 235); border-radius: 9999px; overflow: hidden;">
                                    <div
                                        style="background: linear-gradient(to right, rgb(174, 143, 247), rgb(216, 200, 255)); width: 75%; height: 100%; border-radius: 9999px;">
                                    </div>
                                </div>
                                <div
                                    style="display: flex; justify-content: space-between; margin-top: 0.25rem; font-size: 0.875rem; line-height: 1.25rem; color: rgb(75, 85, 99);">
                                    <p
                                        style="font-weight: 500; font-size: 0.875rem; line-height: 1.25rem; color: rgb(24, 24, 24);">
                                        Small Benefit
                                    </p>
                                    <p
                                        style="font-weight: 500; font-size: 0.875rem; line-height: 1.25rem; color: rgb(24, 24, 24);">
                                        Very High
                                    </p>
                                </div>
                            </div>
                            <div>
                                <div
                                    style="margin-bottom: 0.5rem; font-size: 1rem; line-height: 1.5rem; font-weight: 600; color: rgb(24, 24, 24);">
                                    Implementation Deadline
                                </div>
                                <div
                                    style="font-weight: 500; color: rgb(24, 24, 24); font-size: 1rem; line-height: 1.5rem;">
                                    December 31st of the current tax year
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        style="position: relative; border: solid; border-width: 1px; border-color: rgb(228, 225, 234); background-color: white; border-radius: 0.5rem; width: 66.6667%;">
                        <div
                            style="padding: 1rem 1.5rem; border-bottom-width: 1px; font-size: 1.25rem; line-height: 1.75rem; color: rgb(24, 24, 24); font-weight: 700;">
                            Entity Availability
                        </div>
                        <div style="position: relative; height: calc(100% - 61px);">
                            <div
                                style="border: solid; border-width: 3px; border-color: rgb(174, 143, 247); border-radius: 9999px; height: 300px; width: 300px; position: absolute; opacity: 0.5; transform: translate(-50%, -50%); left: 50%; top: 50%;">
                            </div>
                            <div
                                style="border: solid; border-width: 3px; border-color: rgb(174, 143, 247); border-radius: 9999px; height: 420px; width: 420px; position: absolute; opacity: 0.1; transform: translate(-50%, -50%); left: 50%; top: 50%;">
                            </div>
                            <div
                                style="left: 5rem; top: 1.25rem; border: 1px solid rgb(228, 225, 234); border-radius: 10px; display: flex; justify-content: center; align-items: center; flex-direction: column; z-index: 10; position: absolute; background-color: white; width: 250px; height: 194px;">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/handOnKey.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/handOnKey.svg"
                                    style="width: 72px; height: 72px;">
                                <p
                                    style="font-weight: 500; color: rgb(24, 24, 24); font-size: 1.125rem; line-height: 1.75rem; margin: 1rem 0px;">
                                    Sole Prop
                                </p>
                                <span
                                    style="color: white; border-radius: 0.75rem; padding: 0.5rem 1rem; background-color: rgb(219, 28, 28);">Disallowed</span>
                            </div>
                            <div
                                style="left: 5rem; bottom: 1.25rem; border: 1px solid rgb(228, 225, 234); border-radius: 10px; display: flex; justify-content: center; align-items: center; flex-direction: column; z-index: 10; position: absolute; background-color: white; width: 250px; height: 194px;">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/handShake2.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/handShake2.svg"
                                    style="width: 72px; height: 72px;">
                                <p
                                    style="font-weight: 500; color: rgb(24, 24, 24); font-size: 1.125rem; line-height: 1.75rem; margin: 1rem 0px;">
                                    Partnership
                                </p>
                                <span
                                    style="color: white; border-radius: 0.75rem; padding: 0.5rem 1rem; background-color: rgb(0, 180, 44);">Available</span>
                            </div>
                            <div
                                style="top: 50%; left: 50%; transform: translate(-50%, -50%); border: 1px solid rgb(228, 225, 234); border-radius: 10px; display: flex; justify-content: center; align-items: center; flex-direction: column; z-index: 10; position: absolute; background-color: white; width: 250px; height: 194px;">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/user.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/user.svg"
                                    style="width: 72px; height: 72px;">
                                <p
                                    style="font-weight: 500; color: rgb(24, 24, 24); font-size: 1.125rem; line-height: 1.75rem; margin: 1rem 0px;">
                                    Individual
                                </p>
                                <span
                                    style="color: white; border-radius: 0.75rem; padding: 0.5rem 1rem; background-color: rgb(0, 180, 44);">Available</span>
                            </div>
                            <div
                                style="right: 5rem; top: 1.25rem; border: 1px solid rgb(228, 225, 234); border-radius: 10px; display: flex; justify-content: center; align-items: center; flex-direction: column; z-index: 10; position: absolute; background-color: white; width: 250px; height: 194px;">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/building.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/building.svg"
                                    style="width: 72px; height: 72px;">
                                <p
                                    style="font-weight: 500; color: rgb(24, 24, 24); font-size: 1.125rem; line-height: 1.75rem; margin: 1rem 0px;">
                                    S-Corp
                                </p>
                                <span
                                    style="color: white; border-radius: 0.75rem; padding: 0.5rem 1rem; background-color: rgb(0, 180, 44);">Available</span>
                            </div>
                            <div
                                style="right: 5rem; bottom: 1.25rem; border: 1px solid rgb(228, 225, 234); border-radius: 10px; display: flex; justify-content: center; align-items: center; flex-direction: column; z-index: 10; position: absolute; background-color: white; width: 250px; height: 194px;">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/companyBuilding.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/companyBuilding.svg"
                                    style="width: 72px; height: 72px;">
                                <p
                                    style="font-weight: 500; color: rgb(24, 24, 24); font-size: 1.125rem; line-height: 1.75rem; margin: 1rem 0px;">
                                    C-Corp
                                </p>
                                <span
                                    style="color: white; border-radius: 0.75rem; padding: 0.5rem 1rem; background-color: rgb(0, 180, 44);">Available</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div
                    style="padding: 1.5rem; border: solid; border-width: 1px; border-color: rgb(228, 225, 234); background-color: rgb(255, 255, 255); border-radius: 0.5rem; margin-top: 1rem;">
                    <div style="display: flex; align-items: center; gap: 0.5rem;">
                        <p style="color: rgb(24, 24, 24); font-weight: 500; font-size: 1rem; line-height: 1.5rem;">
                            DISCLAIMER
                        </p>
                        <div style="border: solid; border-width: 1px; border-color: rgb(228, 225, 234); width: 100%;">
                        </div>
                    </div>
                    <p
                        style="color: rgb(104, 104, 104); font-weight: 500; font-size: 1rem; line-height: 1.5rem; margin-top: 0.5rem;">
                        Material discussed is meant for informational purposes only, and it is not to be relied
                        on as
                        investment, tax, or legal advice. Although the tax guidance has been gathered from
                        sources
                        believed
                        to be reliable, please note that individual situations can vary. Therefore, the
                        information
                        should
                        be relied upon when coordinated with individual professional advice.
                    </p>
                    <p
                        style="color: rgb(104, 104, 104); font-weight: 500; font-size: 1rem; line-height: 1.5rem; margin-top: 0.5rem;">
                        Additionally, at times we may discuss the law or new and pending legislation. Please
                        know our
                        understanding of it is constantly changing, and you cannot and should not rely upon us
                        for
                        legal,
                        financial, or accounting advice.
                    </p>
                </div>

            </div>
        </div>
    </div>
</body>

</html>