<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HealthSavingsAccounts</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div style="position: relative; width: 100%;">
        <div style="position: absolute; top: -224px; left: -185px; scale: 0.744;">
            <div style="padding: 6px; width: 1559px; margin-inline: auto;">
                <div
                    style="padding: 1.5rem; border: 1px solid rgb(228, 225, 234); display: flex; justify-content: space-between; align-items: center; background-color: white; border-radius: 0.5rem; margin-top: 1rem; gap: 0.5rem;">
                    <div style="width: 75%;">
                        <p style="color: rgb(24, 24, 24); font-weight: 600; font-size: 1.5rem; line-height: 2rem;">
                            Health Savings Accounts
                        </p>
                        <p
                            style="color: rgb(104, 104, 104); font-weight: 500; font-size: 1rem; line-height: 1.5rem; margin-top: 0.5rem;">
                            Health Savings Accounts, Flexible Spending Accounts, and Health Reimbursement Agreements al
                            help you save tax dollars on medical spending. The options vary as explained below.
                        </p>
                    </div>
                    <div
                        style="padding: 0.625rem 1.25rem; border: 1px solid rgb(174, 143, 247); color: rgb(174, 143, 247); background-color: rgba(174, 143, 247, 0.1); border-radius: 50px; height: max-content;">
                        See Tax code 26 U.S. Code &amp;223 - Health Savings Accounts Code § 213(d): Health Reimbursement
                        Arrangements Code § 125: Cateteria Plans
                    </div>
                </div>
                <div
                    style="border: 1px solid rgb(228, 225, 234); background-color: white; border-radius: 0.5rem; margin-top: 1rem;">
                    <div
                        style="padding: 1rem 1.5rem; border-bottom: 1px solid rgb(228, 225, 234); font-size: 1.25rem; line-height: 1.75rem; color: rgb(24, 24, 24); font-weight: 700;">
                        Health Saving Accounts
                    </div>
                    <div
                        style="display: flex; justify-content: space-around; gap: 1rem; align-items: center; flex-wrap: wrap; padding: 30px 1.5rem 1.5rem; overflow-x: auto;">
                        <div
                            style="padding: 1.5rem; background-color: white; border-radius: 0.5rem; border: 1px solid rgb(228, 225, 234); width: 488px; height: 392px; min-width: 488px; min-height: 392px;">
                            <div style="position: relative; margin: 0px auto; width: 340px; height: 300px;">
                                <div
                                    style="position: absolute; z-index: 20; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 105px; height: 69px;">
                                    <p
                                        style="color: rgb(93, 78, 181); font-weight: 800; font-size: 1.5rem; line-height: 2rem; text-align: center;">
                                        HSA
                                    </p>
                                    <p
                                        style="color: rgb(24, 24, 24); font-weight: 700; font-size: 0.875rem; line-height: 1.25rem; text-align: center; margin-top: 6px;">
                                        Health Savings Account
                                    </p>
                                </div>
                                <div
                                    style="position: absolute; z-index: 20; top: 0px; left: 50%; transform: translateX(-50%); border-radius: 9999px; border: 1px solid rgb(174, 143, 247); background-color: white; display: flex; justify-content: center; align-items: center; width: 100px; height: 100px;">
                                    <img src="https://staging-media.taxplanner.pro/planning-icons/cheque.svg"
                                        alt="Pay cheque">
                                </div>
                                <div
                                    style="position: absolute; z-index: 20; left: 0px; top: 50%; transform: translateY(-50%); border-radius: 9999px; border: 1px solid rgb(174, 143, 247); background-color: white; display: flex; justify-content: center; align-items: center; width: 100px; height: 100px;">
                                    <img src="https://staging-media.taxplanner.pro/planning-icons/money.svg"
                                        alt="Pre tax">
                                </div>
                                <div
                                    style="position: absolute; z-index: 20; right: 0px; top: 50%; transform: translateY(-50%); border-radius: 9999px; border: 1px solid rgb(174, 143, 247); background-color: white; width: 100px; height: 100px;">
                                    <div
                                        style="position: relative; display: flex; justify-content: center; align-items: center; width: 100%; height: 100%;">
                                        <img src="https://staging-media.taxplanner.pro/planning-icons/flat.svg"
                                            alt="Flat" width="60" height="60" style="height: 60px; width: 60px;"><span
                                            style="position: absolute; font-weight: 700; color: rgb(24, 24, 24); font-size: 1rem; line-height: 1.5rem; top: -30px; left: 50%; transform: translateX(-50%);">Company</span>
                                    </div>
                                </div>
                                <div
                                    style="position: absolute; z-index: 20; bottom: 0px; left: 50%; transform: translateX(-50%); border-radius: 9999px; border: 1px solid rgb(174, 143, 247); background-color: white; display: flex; justify-content: center; align-items: center; width: 100px; height: 100px;">
                                    <div style="position: relative; width: fit-content; height: fit-content;"><img
                                            src="https://staging-media.taxplanner.pro/planning-icons/fill-piggy-bank.svg"
                                            alt="Fill Piggy Bank"><span
                                            style="position: absolute; top: 50%; left: 50%; transform: translateY(-25%) translateX(-50%); font-size: 8px; color: white; white-space: nowrap; text-align: center;">You
                                            Own</span>
                                    </div>
                                </div>
                                <div
                                    style="position: absolute; top: 50%; left: 32px; transform: translateY(-50%); z-index: 10;">
                                    <img src="https://staging-media.taxplanner.pro/planning-icons/left-indicator.svg"
                                        alt="Left Indicator">
                                </div>
                                <div
                                    style="position: absolute; top: 50%; right: 27px; transform: translateY(-50%); z-index: 10;">
                                    <img src="https://staging-media.taxplanner.pro/planning-icons/right-indicator.svg"
                                        alt="Right Indicator">
                                </div>
                                <span
                                    style="position: absolute; bottom: 50px; right: -10px; width: 71px; font-weight: 700; font-size: 0.875rem; line-height: 1.25rem; text-align: center; color: rgb(24, 24, 24);">May
                                    Contribute</span>
                            </div>
                            <p
                                style="font-weight: 700; font-size: 0.875rem; line-height: 1.25rem; text-align: center; width: 100%; max-width: 215px; margin: 10px auto 0px;">
                                Eligible if have High-Deductible Health Insurance
                            </p>
                        </div>
                        <div
                            style="padding: 1.5rem; background-color: white; border-radius: 0.5rem; border: 1px solid rgb(228, 225, 234); width: 488px; height: 392px; min-width: 488px; min-height: 392px;">
                            <div style="position: relative; margin: 0px auto; width: 340px; height: 300px;">
                                <div
                                    style="position: absolute; z-index: 20; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 125px; height: 69px;">
                                    <p
                                        style="color: rgb(93, 78, 181); font-weight: 800; font-size: 1.5rem; line-height: 2rem; text-align: center;">
                                        FSA
                                    </p>
                                    <p
                                        style="color: rgb(24, 24, 24); font-weight: 700; font-size: 0.875rem; line-height: 1.25rem; text-align: center; margin-top: 6px;">
                                        Flexible Savings Account
                                    </p>
                                </div>
                                <div
                                    style="position: absolute; z-index: 20; top: 0px; left: 50%; transform: translateX(-50%); border-radius: 9999px; border: 1px solid rgb(174, 143, 247); background-color: white; display: flex; justify-content: center; align-items: center; width: 100px; height: 100px;">
                                    <img src="https://staging-media.taxplanner.pro/planning-icons/cheque.svg"
                                        alt="Pay cheque">
                                </div>
                                <div
                                    style="position: absolute; z-index: 20; right: 0px; top: 50%; transform: translateY(-50%); border-radius: 9999px; border: 1px solid rgb(174, 143, 247); background-color: white; display: flex; justify-content: center; align-items: center; width: 100px; height: 100px;">
                                    <img src="https://staging-media.taxplanner.pro/planning-icons/money.svg"
                                        alt="Pre tax">
                                </div>
                                <div
                                    style="position: absolute; z-index: 20; left: 0px; top: 50%; transform: translateY(-50%); border-radius: 9999px; border: 1px solid rgb(174, 143, 247); background-color: white; display: flex; justify-content: center; align-items: center; width: 100px; height: 100px;">
                                    <div
                                        style="position: relative; display: flex; justify-content: center; align-items: center; width: 100%; height: 100%;">
                                        <img src="https://staging-media.taxplanner.pro/planning-icons/flat.svg"
                                            alt="Flat" width="60" height="60" style="height: 60px; width: 60px;"><span
                                            style="position: absolute; font-weight: 700; color: rgb(24, 24, 24); font-size: 1rem; line-height: 1.5rem; top: -30px; left: 50%; transform: translateX(-50%);">Company</span>
                                    </div>
                                </div>
                                <div
                                    style="position: absolute; z-index: 20; bottom: 0px; left: 50%; transform: translateX(-50%); border-radius: 9999px; border: 1px solid rgb(174, 143, 247); background-color: white; display: flex; justify-content: center; align-items: center; width: 100px; height: 100px;">
                                    <div style="position: relative; width: fit-content; height: fit-content;"><img
                                            src="https://staging-media.taxplanner.pro/planning-icons/fill-piggy-bank.svg"
                                            alt="Fill Piggy Bank"><span
                                            style="position: absolute; font-size: 8px; top: 50%; left: 50%; transform: translateY(-10%) translateX(-50%); color: white; text-align: center; width: 38px; line-height: 1;">Employer
                                            Owns</span>
                                    </div>
                                </div>
                                <div
                                    style="position: absolute; top: 50%; left: 27px; transform: translateY(-50%); z-index: 10;">
                                    <img src="https://staging-media.taxplanner.pro/planning-icons/right-indicator.svg"
                                        alt="Right Indicator" style="transform: scaleX(-1);">
                                </div>
                                <div
                                    style="position: absolute; top: 50%; right: 32px; transform: translateY(-50%); z-index: 10;">
                                    <img src="https://staging-media.taxplanner.pro/planning-icons/left-indicator.svg"
                                        alt="Left Indicator" style="transform: scaleX(-1);">
                                </div>
                                <span
                                    style="position: absolute; bottom: 50px; left: -10px; width: 71px; font-weight: 700; font-size: 0.875rem; line-height: 1.25rem; text-align: center; color: rgb(24, 24, 24);">May
                                    Contribute</span>
                            </div>
                            <p
                                style="font-weight: 700; font-size: 0.875rem; line-height: 1.25rem; text-align: center; width: 100%; max-width: 340px; margin: 10px auto 0px;">
                                Eligible if Employer Offers
                            </p>
                        </div>
                        <div
                            style="padding: 1.5rem; background-color: white; border-radius: 0.5rem; border: 1px solid rgb(229, 229, 229); width: 488px; height: 392px; min-width: 488px; min-height: 392px;">
                            <div style="position: relative; margin: 0px auto; width: 340px; height: 264px;">
                                <div
                                    style="position: absolute; z-index: 20; top: 50%; left: 50%; transform: translateY(-100%) translateX(-50%); width: 125px; height: 69px;">
                                    <p
                                        style="color: rgb(93, 78, 181); font-weight: 800; font-size: 1.5rem; line-height: 2rem; text-align: center;">
                                        HRA
                                    </p>
                                    <p
                                        style="color: rgb(24, 24, 24); font-weight: 700; font-size: 0.875rem; line-height: 1.25rem; text-align: center; margin-top: 6px;">
                                        Health Reimbursement Agreement
                                    </p>
                                </div>
                                <div
                                    style="position: absolute; z-index: 20; right: 0px; top: 50%; transform: translateY(-50%); border-radius: 9999px; border: 1px solid rgb(174, 143, 247); background-color: white; display: flex; justify-content: center; align-items: center; width: 100px; height: 100px;">
                                    <div
                                        style="position: relative; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;">
                                        <img src="https://staging-media.taxplanner.pro/planning-icons/cheque.svg"
                                            alt="Pay Cheque" width="60" height="60">
                                        <p
                                            style="position: absolute; top: -50px; font-weight: 700; font-size: 1rem; line-height: 1.5rem; color: rgb(24, 24, 24); text-align: center; width: 140px;">
                                            Employee cannot contribute
                                        </p>
                                    </div>
                                </div>
                                <div
                                    style="position: absolute; z-index: 20; left: 0px; top: 50%; transform: translateY(-50%); border-radius: 9999px; border: 1px solid rgb(174, 143, 247); background-color: white; display: flex; justify-content: center; align-items: center; width: 100px; height: 100px;">
                                    <div
                                        style="position: relative; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;">
                                        <img src="https://staging-media.taxplanner.pro/planning-icons/flat.svg"
                                            alt="Flat" width="60" height="60">
                                        <p
                                            style="position: absolute; top: -30px; left: 50%; transform: translateX(-50%); font-weight: 700; font-size: 1rem; line-height: 1.5rem; color: rgb(24, 24, 24);">
                                            Company
                                        </p>
                                    </div>
                                </div>
                                <div
                                    style="position: absolute; z-index: 20; bottom: 0px; left: 50%; transform: translateX(-50%); border-radius: 9999px; border: 1px solid rgb(174, 143, 247); background-color: white; display: flex; justify-content: center; align-items: center; width: 100px; height: 100px;">
                                    <div style="position: relative; width: fit-content; height: fit-content;"><img
                                            src="https://staging-media.taxplanner.pro/planning-icons/fill-piggy-bank.svg"
                                            alt="Fill Piggy Bank"><span
                                            style="position: absolute; font-size: 8px; top: 50%; transform: translateY(-10%) translateX(-50%); left: 50%; color: white; text-align: center; width: 38px; line-height: 1;">Employer
                                            Owns</span>
                                    </div>
                                </div>
                                <div
                                    style="position: absolute; bottom: 50%; transform: translateY(45%); left: 28px; z-index: 10;">
                                    <div style="position: relative;">
                                        <img src="https://staging-media.taxplanner.pro/planning-icons/right-indicator.svg"
                                            alt="Right Indicator" style="transform: scaleX(-1);">
                                        <p
                                            style="position: absolute; bottom: -37px; left: -62px; font-weight: 700; font-size: 1rem; line-height: 1.5rem; color: rgb(24, 24, 24); width: 105px;">
                                            The Business is the only Contribute
                                        </p>
                                    </div>
                                </div>
                                <div
                                    style="position: absolute; bottom: 50%; transform: translateY(45%); right: 28px; z-index: 10;">
                                    <div style="position: relative;"><img
                                            src="https://staging-media.taxplanner.pro/planning-icons/right-indicator.svg"
                                            alt="Right Indicator"><img
                                            src="https://staging-media.taxplanner.pro/planning-icons/red-cross.svg"
                                            alt="Red Cross" style="position: absolute; bottom: 0px; right: 0px;"></div>
                                </div>
                            </div>
                            <p
                                style="font-weight: 700; font-size: 0.875rem; line-height: 1.25rem; text-align: center; width: 100%; max-width: 340px; margin: 46px auto 0px;">
                                Eligible if Employer Offers
                            </p>
                        </div>
                    </div>
                </div>
                <div
                    style="border: 1px solid rgb(225, 225, 225); background-color: white; border-radius: 0.5rem; margin-top: 1rem;">
                    <div
                        style="padding: 1rem 1.5rem; border-bottom: 1px solid rgb(228, 225, 234); font-size: 1.25rem; line-height: 1.75rem; color: rgb(24, 24, 24); font-weight: 700;">
                        Where to use these accounts?
                    </div>
                    <div style="padding: 1.5rem;">
                        <div
                            style="position: relative; width: 100%; padding: 69px 2rem 2rem; max-width: 1356px; border-radius: 200px; margin: 2.25rem auto 0px; border: 3px dashed rgb(174, 143, 247);">
                            <p
                                style="position: absolute; top: 0px; left: 50%; transform: translateY(-50%) translateX(-50%); font-weight: 700; font-size: 1.5rem; line-height: 2rem; color: rgb(93, 78, 181); width: fit-content; padding: 22px 52px; background-color: white; border: 3px solid rgb(174, 143, 247); border-radius: 9999px;">
                                All can be used for
                            </p>
                            <div
                                style="width: 100%; max-width: 1100px; margin: 0px auto; gap: 0.75rem; display: grid; grid-template-columns: repeat(6, minmax(0px, 1fr));">
                                <div>
                                    <img src="https://staging-media.taxplanner.pro/planning-icons/coin.svg" alt="coin"
                                        width="100" height="100" style="width: 100px; height: 100px; margin: 0px auto;">
                                    <p
                                        style="font-weight: 700; font-size: 0.875rem; line-height: 1.25rem; color: rgb(24, 24, 24); text-align: center; margin-top: 20px;">
                                        Co-Pays
                                    </p>
                                </div>
                                <div>
                                    <img src="https://staging-media.taxplanner.pro/planning-icons/wallet.svg" alt="coin"
                                        width="100" height="100" style="width: 100px; height: 100px; margin: 0px auto;">
                                    <p
                                        style="font-weight: 700; font-size: 0.875rem; line-height: 1.25rem; color: rgb(24, 24, 24); text-align: center; margin-top: 20px;">
                                        Deductibles
                                    </p>
                                </div>
                                <div>
                                    <img src="https://staging-media.taxplanner.pro/planning-icons/pills.svg" alt="coin"
                                        width="100" height="100" style="width: 100px; height: 100px; margin: 0px auto;">
                                    <p
                                        style="font-weight: 700; font-size: 0.875rem; line-height: 1.25rem; color: rgb(24, 24, 24); text-align: center; margin-top: 20px;">
                                        RX
                                    </p>
                                </div>
                                <div>
                                    <img src="https://staging-media.taxplanner.pro/planning-icons/dumbell.svg"
                                        alt="coin" width="100" height="100"
                                        style="width: 100px; height: 100px; margin: 0px auto;">
                                    <p
                                        style="font-weight: 700; font-size: 0.875rem; line-height: 1.25rem; color: rgb(24, 24, 24); text-align: center; margin-top: 20px;">
                                        Physical Therapy
                                    </p>
                                </div>
                                <div>
                                    <img src="https://staging-media.taxplanner.pro/planning-icons/smart-glasses.svg"
                                        alt="coin" width="100" height="100"
                                        style="width: 100px; height: 100px; margin: 0px auto;">
                                    <p
                                        style="font-weight: 700; font-size: 0.875rem; line-height: 1.25rem; color: rgb(24, 24, 24); text-align: center; margin-top: 20px;">
                                        Glasses &amp; Contacts
                                    </p>
                                </div>
                                <div>
                                    <img src="https://staging-media.taxplanner.pro/planning-icons/tooth.svg" alt="coin"
                                        width="100" height="100" style="width: 100px; height: 100px; margin: 0px auto;">
                                    <p
                                        style="font-weight: 700; font-size: 0.875rem; line-height: 1.25rem; color: rgb(24, 24, 24); text-align: center; margin-top: 20px;">
                                        Orthodontics
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    style="border: 1px solid rgb(228, 225, 234); background-color: white; border-radius: 0.5rem; margin-top: 1rem;">
                    <div
                        style="padding: 1rem 1.5rem; border-bottom: 1px solid rgb(228, 225, 234); font-size: 1.25rem; line-height: 1.75rem; color: rgb(24, 24, 24); font-weight: 700;">
                        Whats the difference in these accounts?
                    </div>
                    <div style="padding: 1.5rem;">
                        <div style="width: 100%; max-width: 800px; margin: 42px auto 0 auto;">
                            <p
                                style="text-transform: uppercase; text-align: center; font-weight: 700; font-size: 1.5rem; line-height: 2rem; color: rgb(93, 78, 181);">
                                Big Difference
                            </p>
                            <div
                                style="display: grid; grid-template-columns: repeat(2, minmax(0px, 1fr)); margin-top: 16px;">
                                <div
                                    style="display: flex; justify-content: flex-start; align-items: center; gap: 1.25rem;">
                                    <img src="https://staging-media.taxplanner.pro/planning-icons/loss-money.svg"
                                        alt="Loss Money">
                                    <div>
                                        <p
                                            style="color: rgb(93, 78, 181); font-weight: 700; font-size: 1.5rem; line-height: 2rem;">
                                            FSA &amp; HRA
                                        </p>
                                        <p
                                            style="color: rgb(24, 24, 24); font-weight: 700; font-size: 0.875rem; line-height: 1.25rem; margin-top: 10px;">
                                            Lose money if you don’t use
                                        </p>
                                    </div>
                                </div>
                                <div
                                    style="display: flex; flex-direction: row-reverse; justify-content: flex-start; align-items: center; column-gap: 1.25rem; border-left: 3px dashed rgb(174, 143, 247);">
                                    <img src="https://staging-media.taxplanner.pro/planning-icons/padlock.svg"
                                        alt="Loss Money">
                                    <div style="text-align: right;">
                                        <p
                                            style="color: rgb(93, 78, 181); font-weight: 700; font-size: 1.5rem; line-height: 2rem;">
                                            HSA
                                        </p>
                                        <p
                                            style="font-weight: 700; color: rgb(24, 24, 24); font-size: 0.875rem; line-height: 1.25rem; margin-top: 10px;">
                                            Money stay in account if unused
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            style="border-radius: 0.5rem; border: 1px solid rgb(228, 225, 234); overflow-x: auto; margin-top: 60px;">
                            <table style="min-width: 1010px; width: 100%;">
                                <thead style="border-bottom: 1px solid rgb(228, 225, 234);">
                                    <tr>
                                        <th
                                            style="background-color: rgba(174, 143, 247, 0.1); color: rgb(174, 143, 247); font-size: 1.125rem; line-height: 1.75rem; text-align: center; padding: 1rem; font-weight: 700; width: 33.3333%; max-width: 33.3333%; min-width: 33.3333%; border-right: 1px solid rgb(228, 225, 234);">
                                            Health Savings Account <br> (HSA)
                                        </th>
                                        <th
                                            style="background-color: rgba(174, 143, 247, 0.1); color: rgb(174, 143, 247); font-size: 1.125rem; line-height: 1.75rem; text-align: center; padding: 1rem; font-weight: 700; width: 33.3333%; max-width: 33.3333%; min-width: 33.3333%; border-right: 1px solid rgb(228, 225, 234);">
                                            Flexible Spending Account <br> (FSA)
                                        </th>
                                        <th
                                            style="background-color: rgba(174, 143, 247, 0.1); color: rgb(174, 143, 247); font-size: 1.125rem; line-height: 1.75rem; text-align: center; padding: 1rem; font-weight: 700; width: 33.3333%; max-width: 33.3333%; min-width: 33.3333%;">
                                            Health Reimbursement Agreement <br> (HRA)
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="border-bottom: 1px solid rgb(228, 225, 234);">
                                        <td
                                            style="color: rgb(104, 104, 104); font-size: 1rem; line-height: 1.5rem; text-align: center; padding: 1rem; font-weight: 500; width: 33.3333%; max-width: 33.3333%; min-width: 33.3333%; border-right: 1px solid rgb(228, 225, 234);">
                                            Must have a Hige-Deductible Health Plan that meets the IRS guidelines for
                                            eligibility.
                                        </td>
                                        <td
                                            style="color: rgb(104, 104, 104); font-size: 1rem; line-height: 1.5rem; text-align: center; padding: 1rem; font-weight: 500; width: 33.3333%; max-width: 33.3333%; min-width: 33.3333%; border-right: 1px solid rgb(228, 225, 234);">
                                            Employer must offer the plan through your work but you do not need to have a
                                            health plan.
                                        </td>
                                        <td
                                            style="color: rgb(104, 104, 104); font-size: 1rem; line-height: 1.5rem; text-align: center; padding: 1rem; font-weight: 500; width: 33.3333%; max-width: 33.3333%; min-width: 33.3333%;">
                                            Employer must offer the plan through your work and is usually connected to a
                                            health plan.
                                        </td>
                                    </tr>
                                    <tr style="border-bottom: 1px solid rgb(228, 225, 234);">
                                        <td
                                            style="color: rgb(104, 104, 104); font-size: 1rem; line-height: 1.5rem; text-align: center; padding: 1rem; font-weight: 500; width: 33.3333%; max-width: 33.3333%; min-width: 33.3333%; border-right: 1px solid rgb(228, 225, 234);">
                                            You put money in just like you would a bank account. Your employer can also
                                            put money in.
                                        </td>
                                        <td
                                            style="color: rgb(104, 104, 104); font-size: 1rem; line-height: 1.5rem; text-align: center; padding: 1rem; font-weight: 500; width: 33.3333%; max-width: 33.3333%; min-width: 33.3333%; border-right: 1px solid rgb(228, 225, 234);">
                                            Employer pulls money from your paycheck before taxes and funds the account.
                                        </td>
                                        <td
                                            style="color: rgb(104, 104, 104); font-size: 1rem; line-height: 1.5rem; text-align: center; padding: 1rem; font-weight: 500; width: 33.3333%; max-width: 33.3333%; min-width: 33.3333%;">
                                            Employer funds the account from business operations.
                                        </td>
                                    </tr>
                                    <tr style="border-bottom: 1px solid rgb(228, 225, 234);">
                                        <td
                                            style="color: rgb(104, 104, 104); font-size: 1rem; line-height: 1.5rem; text-align: center; padding: 1rem; font-weight: 500; width: 33.3333%; max-width: 33.3333%; min-width: 33.3333%; border-right: 1px solid rgb(228, 225, 234);">
                                            If you don’t spend the money each year, it stay in the account and can even
                                            be invested.
                                        </td>
                                        <td
                                            style="color: rgb(104, 104, 104); font-size: 1rem; line-height: 1.5rem; text-align: center; padding: 1rem; font-weight: 500; width: 33.3333%; max-width: 33.3333%; min-width: 33.3333%; border-right: 1px solid rgb(228, 225, 234);">
                                            Employer can allow a small amount to be rolled oved each year, otherwise
                                            money is lost.
                                        </td>
                                        <td
                                            style="color: rgb(104, 104, 104); font-size: 1rem; line-height: 1.5rem; text-align: center; padding: 1rem; font-weight: 500; width: 33.3333%; max-width: 33.3333%; min-width: 33.3333%;">
                                            Employer can allow a small amount to be rolled over each year, otherwise
                                            money is lost.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td
                                            style="color: rgb(104, 104, 104); font-size: 1rem; line-height: 1.5rem; text-align: center; padding: 1rem; font-weight: 500; width: 33.3333%; max-width: 33.3333%; min-width: 33.3333%; border-right: 1px solid rgb(228, 225, 234);">
                                            You own the account, regardless of where you work or job chnages.
                                        </td>
                                        <td
                                            style="color: rgb(104, 104, 104); font-size: 1rem; line-height: 1.5rem; text-align: center; padding: 1rem; font-weight: 500; width: 33.3333%; max-width: 33.3333%; min-width: 33.3333%; border-right: 1px solid rgb(228, 225, 234);">
                                            Employer owns the account and if you leave the job you lose the money
                                        </td>
                                        <td
                                            style="color: rgb(104, 104, 104); font-size: 1rem; line-height: 1.5rem; text-align: center; padding: 1rem; font-weight: 500; width: 33.3333%; max-width: 33.3333%; min-width: 33.3333%;">
                                            Employer owns the account and if you leave the job you lose the money
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div style="display: flex; margin-top: 1rem; width: 100%; gap: 1rem;">
                    <div
                        style="border: solid; border-width: 1px; border-color: rgb(228, 225, 234); background-color: rgb(255, 255, 255); border-radius: 0.5rem; width: 33.3333%;">
                        <div
                            style="padding: 1rem 1.5rem; border-bottom-width: 1px; font-size: 1.25rem; line-height: 1.75rem; color: rgb(24, 24, 24); font-weight: 700;">
                            Tax Planner Pro Rankings: 14 Days Home Rental
                        </div>
                        <div style="padding: 1.5rem;">
                            <div style="width: 100%; margin-bottom: 1.5rem;">
                                <div
                                    style="margin-bottom: 0.5rem; font-size: 1rem; line-height: 1.5rem; font-weight: 600; color: rgb(24, 24, 24);">
                                    Strategy Overall Benefit
                                </div>
                                <div
                                    style="position: relative; width: 100%; height: 0.75rem; background-color: rgb(229, 231, 235); border-radius: 9999px; overflow: hidden;">
                                    <div
                                        style="background: linear-gradient(to right, rgb(174, 143, 247), rgb(216, 200, 255)); width: 40%; height: 100%; border-radius: 9999px;">
                                    </div>
                                </div>
                                <div
                                    style="display: flex; justify-content: space-between; margin-top: 0.25rem; font-size: 0.875rem; line-height: 1.25rem; color: rgb(75, 85, 99);">
                                    <p
                                        style="font-weight: 500; font-size: 0.875rem; line-height: 1.25rem; color: rgb(24, 24, 24);">
                                        Small Benefit
                                    </p>
                                    <p
                                        style="font-weight: 500; font-size: 0.875rem; line-height: 1.25rem; color: rgb(24, 24, 24);">
                                        Large Benefit
                                    </p>
                                </div>
                            </div>
                            <div style="width: 100%; margin-bottom: 1.5rem;">
                                <div
                                    style="margin-bottom: 0.5rem; font-size: 1rem; line-height: 1.5rem; font-weight: 600; color: rgb(24, 24, 24);">
                                    Difficulty Rating
                                </div>
                                <div
                                    style="position: relative; width: 100%; height: 0.75rem; background-color: rgb(229, 231, 235); border-radius: 9999px; overflow: hidden;">
                                    <div
                                        style="background: linear-gradient(to right, rgb(174, 143, 247), rgb(216, 200, 255)); width: 75%; height: 100%; border-radius: 9999px;">
                                    </div>
                                </div>
                                <div
                                    style="display: flex; justify-content: space-between; margin-top: 0.25rem; font-size: 0.875rem; line-height: 1.25rem; color: rgb(75, 85, 99);">
                                    <p
                                        style="font-weight: 500; font-size: 0.875rem; line-height: 1.25rem; color: rgb(24, 24, 24);">
                                        Easy Setup
                                    </p>
                                    <p
                                        style="font-weight: 500; font-size: 0.875rem; line-height: 1.25rem; color: rgb(24, 24, 24);">
                                        Difficult Setup
                                    </p>
                                </div>
                            </div>
                            <div style="width: 100%; margin-bottom: 1.5rem;">
                                <div
                                    style="margin-bottom: 0.5rem; font-size: 1rem; line-height: 1.5rem; font-weight: 600; color: rgb(24, 24, 24);">
                                    Audit Risk
                                </div>
                                <div
                                    style="position: relative; width: 100%; height: 0.75rem; background-color: rgb(229, 231, 235); border-radius: 9999px; overflow: hidden;">
                                    <div
                                        style="background: linear-gradient(to right, rgb(174, 143, 247), rgb(216, 200, 255)); width: 75%; height: 100%; border-radius: 9999px;">
                                    </div>
                                </div>
                                <div
                                    style="display: flex; justify-content: space-between; margin-top: 0.25rem; font-size: 0.875rem; line-height: 1.25rem; color: rgb(75, 85, 99);">
                                    <p
                                        style="font-weight: 500; font-size: 0.875rem; line-height: 1.25rem; color: rgb(24, 24, 24);">
                                        Audit Unlikely
                                    </p>
                                    <p
                                        style="font-weight: 500; font-size: 0.875rem; line-height: 1.25rem; color: rgb(24, 24, 24);">
                                        Audit Possible
                                    </p>
                                </div>
                            </div>
                            <div style="width: 100%; margin-bottom: 1.5rem;">
                                <div
                                    style="margin-bottom: 0.5rem; font-size: 1rem; line-height: 1.5rem; font-weight: 600; color: rgb(24, 24, 24);">
                                    Aggressiveness Rating
                                </div>
                                <div
                                    style="position: relative; width: 100%; height: 0.75rem; background-color: rgb(229, 231, 235); border-radius: 9999px; overflow: hidden;">
                                    <div
                                        style="background: linear-gradient(to right, rgb(174, 143, 247), rgb(216, 200, 255)); width: 75%; height: 100%; border-radius: 9999px;">
                                    </div>
                                </div>
                                <div
                                    style="display: flex; justify-content: space-between; margin-top: 0.25rem; font-size: 0.875rem; line-height: 1.25rem; color: rgb(75, 85, 99);">
                                    <p
                                        style="font-weight: 500; font-size: 0.875rem; line-height: 1.25rem; color: rgb(24, 24, 24);">
                                        Small Benefit
                                    </p>
                                    <p
                                        style="font-weight: 500; font-size: 0.875rem; line-height: 1.25rem; color: rgb(24, 24, 24);">
                                        Very High
                                    </p>
                                </div>
                            </div>
                            <div>
                                <div
                                    style="margin-bottom: 0.5rem; font-size: 1rem; line-height: 1.5rem; font-weight: 600; color: rgb(24, 24, 24);">
                                    Implementation Deadline
                                </div>
                                <div
                                    style="font-weight: 500; color: rgb(24, 24, 24); font-size: 1rem; line-height: 1.5rem;">
                                    December 31st of the current tax year
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        style="position: relative; border: solid; border-width: 1px; border-color: rgb(228, 225, 234); background-color: white; border-radius: 0.5rem; width: 66.6667%;">
                        <div
                            style="padding: 1rem 1.5rem; border-bottom-width: 1px; font-size: 1.25rem; line-height: 1.75rem; color: rgb(24, 24, 24); font-weight: 700;">
                            Entity Availability
                        </div>
                        <div style="position: relative; height: calc(100% - 61px);">
                            <div
                                style="border: solid; border-width: 3px; border-color: rgb(174, 143, 247); border-radius: 9999px; height: 300px; width: 300px; position: absolute; opacity: 0.5; transform: translate(-50%, -50%); left: 50%; top: 50%;">
                            </div>
                            <div
                                style="border: solid; border-width: 3px; border-color: rgb(174, 143, 247); border-radius: 9999px; height: 420px; width: 420px; position: absolute; opacity: 0.1; transform: translate(-50%, -50%); left: 50%; top: 50%;">
                            </div>
                            <div
                                style="left: 5rem; top: 1.25rem; border: 1px solid rgb(228, 225, 234); border-radius: 10px; display: flex; justify-content: center; align-items: center; flex-direction: column; z-index: 10; position: absolute; background-color: white; width: 250px; height: 194px;">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/handOnKey.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/handOnKey.svg"
                                    style="width: 72px; height: 72px;">
                                <p
                                    style="font-weight: 500; color: rgb(24, 24, 24); font-size: 1.125rem; line-height: 1.75rem; margin: 1rem 0px;">
                                    Sole Prop
                                </p>
                                <span
                                    style="color: white; border-radius: 0.75rem; padding: 0.5rem 1rem; background-color: rgb(219, 28, 28);">Disallowed</span>
                            </div>
                            <div
                                style="left: 5rem; bottom: 1.25rem; border: 1px solid rgb(228, 225, 234); border-radius: 10px; display: flex; justify-content: center; align-items: center; flex-direction: column; z-index: 10; position: absolute; background-color: white; width: 250px; height: 194px;">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/handShake2.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/handShake2.svg"
                                    style="width: 72px; height: 72px;">
                                <p
                                    style="font-weight: 500; color: rgb(24, 24, 24); font-size: 1.125rem; line-height: 1.75rem; margin: 1rem 0px;">
                                    Partnership
                                </p>
                                <span
                                    style="color: white; border-radius: 0.75rem; padding: 0.5rem 1rem; background-color: rgb(0, 180, 44);">Available</span>
                            </div>
                            <div
                                style="top: 50%; left: 50%; transform: translate(-50%, -50%); border: 1px solid rgb(228, 225, 234); border-radius: 10px; display: flex; justify-content: center; align-items: center; flex-direction: column; z-index: 10; position: absolute; background-color: white; width: 250px; height: 194px;">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/user.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/user.svg"
                                    style="width: 72px; height: 72px;">
                                <p
                                    style="font-weight: 500; color: rgb(24, 24, 24); font-size: 1.125rem; line-height: 1.75rem; margin: 1rem 0px;">
                                    Individual
                                </p>
                                <span
                                    style="color: white; border-radius: 0.75rem; padding: 0.5rem 1rem; background-color: rgb(0, 180, 44);">Available</span>
                            </div>
                            <div
                                style="right: 5rem; top: 1.25rem; border: 1px solid rgb(228, 225, 234); border-radius: 10px; display: flex; justify-content: center; align-items: center; flex-direction: column; z-index: 10; position: absolute; background-color: white; width: 250px; height: 194px;">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/building.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/building.svg"
                                    style="width: 72px; height: 72px;">
                                <p
                                    style="font-weight: 500; color: rgb(24, 24, 24); font-size: 1.125rem; line-height: 1.75rem; margin: 1rem 0px;">
                                    S-Corp
                                </p>
                                <span
                                    style="color: white; border-radius: 0.75rem; padding: 0.5rem 1rem; background-color: rgb(0, 180, 44);">Available</span>
                            </div>
                            <div
                                style="right: 5rem; bottom: 1.25rem; border: 1px solid rgb(228, 225, 234); border-radius: 10px; display: flex; justify-content: center; align-items: center; flex-direction: column; z-index: 10; position: absolute; background-color: white; width: 250px; height: 194px;">
                                <img src="https://staging-media.taxplanner.pro/planning-icons/companyBuilding.svg"
                                    alt="https://staging-media.taxplanner.pro/planning-icons/companyBuilding.svg"
                                    style="width: 72px; height: 72px;">
                                <p
                                    style="font-weight: 500; color: rgb(24, 24, 24); font-size: 1.125rem; line-height: 1.75rem; margin: 1rem 0px;">
                                    C-Corp
                                </p>
                                <span
                                    style="color: white; border-radius: 0.75rem; padding: 0.5rem 1rem; background-color: rgb(0, 180, 44);">Available</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    style="padding: 1.5rem; border: solid; border-width: 1px; border-color: rgb(228, 225, 234); background-color: rgb(255, 255, 255); border-radius: 0.5rem; margin-top: 1rem;">
                    <div style="display: flex; align-items: center; gap: 0.5rem;">
                        <p style="color: rgb(24, 24, 24); font-weight: 500; font-size: 1rem; line-height: 1.5rem;">
                            DISCLAIMER
                        </p>
                        <div style="border: solid; border-width: 1px; border-color: rgb(228, 225, 234); width: 100%;">
                        </div>
                    </div>
                    <p
                        style="color: rgb(104, 104, 104); font-weight: 500; font-size: 1rem; line-height: 1.5rem; margin-top: 0.5rem;">
                        Material discussed is meant for informational purposes only, and it is not to be relied on as
                        investment, tax, or legal advice. Although the tax guidance has been gathered from sources
                        believed
                        to be reliable, please note that individual situations can vary. Therefore, the information
                        should
                        be relied upon when coordinated with individual professional advice.
                    </p>
                    <p
                        style="color: rgb(104, 104, 104); font-weight: 500; font-size: 1rem; line-height: 1.5rem; margin-top: 0.5rem;">
                        Additionally, at times we may discuss the law or new and pending legislation. Please know our
                        understanding of it is constantly changing, and you cannot and should not rely upon us for
                        legal,
                        financial, or accounting advice.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>